<% content_for :head do %>
    <title>Mapprr | <%= @blog_data['blog']['title'].capitalize %></title>
    <meta name="description" content="<%= @blog_data['blog']['description'] %>">
    <meta name="keywords" content="<%= @blog_data['blog']['keywords'] %>">
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5aa27666d362000013e3b11f&product=social-ab' async='async'></script>
    <!-- Metadata Facebook -->
    <meta content='Mapprr' property='og:site_name'/>
    <meta content="<%= 'Mapprr: ' + @blog_data['blog']['title'] %>" property='og:title'/>
    <meta content="<%= 'https://mapprr.com/blogs/' + @blog_data['blog']['title'].parameterize %>" property='og:url'/>
    <meta property="og:image" content="<%= @blog_data['blog']['cover_image'] %>" />
    <meta content='170855293693841' property='fb:app_id'/>
    <!-- Metadata Twitter -->
    <meta name='twitter:card' content='summary'/>
    <meta name="twitter:url" content="https://mapprr.com">
    <meta content="<%= 'Mapprr: ' + @blog_data['blog']['title'] %>" name='twitter:title'/>
    <meta content="<%= @blog_data['blog']['cover_image'] %>" name="twitter:image:src" />
    <meta content="<%= raw @blog_data['blog']['content'][0..200] %>" name="twitter:description" />
    <meta content='@mapprr' name='twitter:site'/>
    <meta content='@mapprr' name='twitter:creator'/>
<% end %>
<div class="container-fluid" style="background-color: #fafafa;">
        <div class="container text-right">
            <div class="upper-links">
            <span class="p_user_login" id="user_login"></span>
            <ul class="p_user_dropdown dropdown-menu">
              <li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>
              <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
              <li id="logout" class="profile-li"><a class="profile-links" href="">Logout</a></li>
            </ul>
        </div>
        </div>
    </div>
 <nav class="navbar navbar-light productnav" role="navigation">
<div class="container" style="margin:18px auto;padding-left: 0px;padding-right: 0px;">
        <div class="navbar-left col-sm-6 col-md-3 col-xs-5 logo"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/mapprr-logo3.png", :class => "img-responsive", :alt => "Location icon") %> </a></div>

      <div class="col-sm-6 col-md-3 col-xs-7 col-sx-push-0 col-md-push-6 loc_m text-right" style="margin-top: 15px;">
        <div style="width:100%;">
        <a class="p-location" data-toggle="dropdown"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %> <span id="geolocation">Choose your location</span> <i style="display:none;" class="fa fa-spinner fa-pulse fa-fw loading"></i></a>

          <ul class="dropdown-menu c_loc" role="menu" style="border: 0;border-radius: 0;margin: 0;padding: 15px 7px;position: absolute;top: 100%;right: 0;left:auto;">
              <li class="dropdown-header" style="color: #263238;  ">Select Location</li>
              <li id="profile" class="profile-li" style="padding:7px 12px;">
                <form id="mform" method="post" action="javascript:;" data-toggle="validator" role="form">

                  <div class="input-group" style="border:1px solid #bdbdbd;">
                    <input id="m_loc" type="text" class="f-control" placeholder="Type your location..." style="border:0px; min-width: 250px" />
                    <span class="input-group-btn" style="border-left: 1px solid #bdbdbd;padding:1px;">
                    <button class="btn btn-secondary" id="detect_loc" type="button" style="background-color: #fff;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %></button>
                    </span>
                  </div>
                </form>
              </li>
          </ul>
        </div>
      </div>
  <!--     <div class="three"> -->
        <div class="col-sm-12 col-md-6 col-xs-12 col-sx-pull-0 col-md-pull-3 search_f " style="margin-top: 7px;">
            <form action="<%= products_path() %>" method="POST" id="p_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
          <meta itemprop="target" content="https://mapprr.com/products?product={search_query}"/>
            <div class="input-group searchbox-input2">
                <input type="text" id="search_query" name="search_query" itemprop="query-input" class="form-control searchtxt2" placeholder="What are you looking for?" autocomplete="off" required="true">
                <div class="input-group-btn">
                  <button class="btn btn-default searchbtn2" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
            </div>
        </form>
            </div>
   <!--  </div> -->
   <!--  <div class="two"> -->
        
<!--     </div> -->

</div>
    </nav>
	<div class="container">
    <div class="row">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/blogs"><span itemprop="name">Blogs</span></a><meta itemprop="position" content="2" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/blogs/<%= params[:title] %>"><span itemprop="name"><%= @blog['title'].capitalize %></span></a><meta itemprop="position" content="3`" /></li>
        </ol>
    </div>
</div>	
		<div class="row" style="margin-bottom: 30px;">
		<div class="col-sm-10 col-md-offset-1">
			<h2 class="blog-title text-center" id="blog-title"><%= @blog['title'] %></h2>
			<div class="text-center">
				<%= image_tag @blog['cover_image'], :class => 'img-responsive blog_img' %>
			</div>
			<h5 class="time"><%= Time.parse(@blog['created_at']).strftime("%A") %>, <%= Time.parse(@blog['created_at']).day %> <%= Date::MONTHNAMES[Time.parse(@blog['created_at']).month] %>, <%= Time.parse(@blog['created_at']).year %></h5>
			<br/>
			<div class="show-content"><%= raw @blog['content'] %></div>
		</div>
    <div class="sharethis-inline-share-buttons" style="padding-top: 20px;"></div>
	</div>
	</div>

 <div id="snackbar"></div>


<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
      var blocation = window.sessionStorage.getItem("slocation");
      if (blocation == null)
    {
    
        detectLocation();
    }
    else
    {
        $("#geolocation").html(blocation);

    }
   

    //location icon click then auto dectect location
    $("#detect_loc").click(function(){
                detectLocation();
            $("#m_loc").val(blocation);
          });

    </script> 
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUpobR20JfD78lRFdkVU2VV1joDsBVjA&libraries=places&callback=initAutocomplete">
    </script>
