<!DOCTYPE html>
<html>
<head>
	<title>Contact Form</title>
</head>
<body>
	<div class="container">
		<div class="panel panel-default col-md-6 col-md-offset-2">
			<div class="panel-body">
				<table>
					<tr>
						<td><b>Name : </b></td>
						<td><%= @name %></td>
					</tr>
					<tr>
						<td><b>Email : </b></td>
						<td><%= @email %></td>
					</tr>
					<tr>
						<td><b>Mobile : </b></td>
						<td><%= @phone %></td>
					</tr>
					<tr>
						<td><b>Appled for : </b></td>
						<td><%= @designation %></td>
					</tr>
					<tr>
						<td><b>Short Description : </b></td>
						<td><%= @description %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>