<% content_for :head do %>
    <title>Mapprr | Join Us</title>
    <meta name="description" content="We are always looking for a great people to join our team!">
    <meta name="keywords" content="mapprr, mapper, current openings in mapprr, join us at mapprr, mapprr hiring, mapprr vacancies">
<% end %>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
 <style type="text/css">
 #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

      margin-bottom: 0;
      background-color: transparent;
      z-index: 9999;

      font-size: 13px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;

  }
    .navbar-default {
    border-color: transparent;
}
  .navbar li a, .navbar .navbar-brand {
      color: #ffffff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #1e88e5 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #4e5465 !important;
  }
.navbar-toggle.mbtn
{
	margin-top: 25px;
	padding:5px auto;
}
@media screen and (min-width: 768px) {
    #mNav {
        margin-top: 25px;
    }
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .des_icon
  {
    display: inline;
    width: 26px;
    margin-right: 15px;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #4e5465 !important;
}
 </style>


  <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle mbtn" data-toggle="collapse" data-target="#mNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/mapprr-logo3.png", :class => "img-responsive", :alt => "Location icon") %></a>
    </div>
    <div class="collapse navbar-collapse" id="mNav">
      <ul class="nav navbar-nav navbar-right" style="color:#1e88e5;">
        <li><a href="/">HOME</a></li>
        <li><a href="/team">ABOUT</a></li>
        <li><a href="/careers" style="color: #1e88e5 !important;">CAREERS</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row hidden">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/careers"><span itemprop="name">Careers</span></a><meta itemprop="position" content="2" /></li>
        </ol>
    </div>
<div class="container-fluid" style="padding: 0px;">

  <div id="slider" class="carousel slide" data-ride="carousel" style="webkit-box-shadow: 0px 2px 12px 0px rgba(189,189,189,0.5);-moz-box-shadow: 0px 2px 12px 0px rgba(189,189,189,0.5);box-shadow: 0px 2px 12px 0px rgba(189,189,189,0.5);">
    <!-- Indicators -->
   <!--  <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="../assets/careers_banner2.png" style="width:100%;">
        <div class="carousel-caption">
         <!--  <h3>Joinwith us</h3> -->
        </div>
      </div>

      <!-- <div class="item">
        <img src="../assets/team_cover3.png" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <!--  <h3>Joinwith us</h3> --
        </div>
      </div>
    
      <div class="item">
        <img src="../assets/team_cover3.png" alt="New York" style="width:100%;">
        <div class="carousel-caption">
         <!--   <h3>Joinwith us</h3> --
        </div>
      </div> -->
  
    </div>

    <!-- Left and right controls -->
   <!--  <a class="left carousel-control" href="#slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>


<!--  <div class="careers_bg" style="">
	<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle mbtn" data-toggle="collapse" data-target="#mNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/mapprr-logo3.png", :class => "img-responsive", :alt => "Location icon") %></a>
    </div>
    <div class="collapse navbar-collapse" id="mNav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">HOME</a></li>
        <li><a href="#">BLOGS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
 	<p style="font-size: 35px; line-height: 60px;  text-align: center; margin-top: 14%;margin-bottom: 18%; color:#ffffff;"><b>We are looking for people who wants to make a <br/>difference with their work. Interested ?</b></p>
 </div>
</div> -->

<div class="container">
  <div class="mapprr-container" style="margin-top: 50px;">
<!--         <div class="row">
            <h2 class="headings">Join Us Now</h2>
        </div> -->
        <div class="row">
            <div class="text-center" style="font-size: 20px;margin:12px auto; color: #757575;">Are you a Tech enthusiast? Are you a person who can't sleep if you dont solve a puzzle? Have you ever had night outs working with your colleagues? Most important of all, Is your end goal to be an entrepreneur? If Yes, come join us. Our work will challenge your skills and our pay will compliment your party skills.</div>
        </div>
      </div>
 	<div class="" style="margin-bottom: 50px;">
 		<h2 class="headings" style="margin: 50px auto;">Current openings</h2>
 		<div >
      <!--accordion --> 
 			<div class="panel-group" id="accordion">
        <!-- UI/UX Designer-->
			    <!-- <div class="panel panel-default">
			      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="cursor: pointer;">
			        <h4 class="panel-title">
			          <a style="width: 100%; display: inline-block; text-decoration: none;font-size: 18px; color: #4e5465; letter-spacing: 2px;" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><div class="col-sm-6"><%= image_tag("android.png", :class => "des_icon", :alt => "Location icon") %>  Sr. Android Developer </div> <div class="col-sm-6 text-right" style="line-height: 25px;"> Exp. 2 - 5 yrs</div></a>
			        </h4>
			      </div>
			      <div id="collapse1" class="panel-collapse collapse">
			        <div class="panel-body" style="font-size: 15px;color: #757575; line-height: 1.5;">
                  <div class="col-sm-8">
                    <div>
                    <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Description:</h5>
                    <p>We are looking for Android Developers to work on a product development who possesses a passion for pushing mobile technologies to the limits and will work with our team of talented engineers to design and build the next generation of our mobile applications.
                    </p>
                  </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Responsibilities:</h5>
                        <p>Design and build advanced applications in native Android platform.<br/>
                        Collaborate with cross-functional teams to define, design, and ship new features.<br/>
                        Work with microservices.<br/>
                        Unit-test code for robustness, including edge cases, usability, and general reliability.<br/>
                        Work on testing, bug fixing and improving application performance.<br/>
                        Continuously discover, evaluate, and implement new technologies to maximize development efficiency.</p>
                    </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Requirements:</h5>
                      <p>Bachelor or Master degree in Computer Science, Engineering or a related subject 2-5 years of Android development.<br/>
                      Have published at least one Android app in play store.<br/>
                      Experience with Android SDK and ADT.<br/>
                      Experience working with microservices via REST and JSON.<br/>
                      Experience with third-party libraries and APIs.<br/>
                      Working knowledge of the general mobile landscape, architectures, trends, and emerging technologies.<br/>
                      Solid understanding of the full mobile development lifecycle.<br/>
                      Cross-platform knowledge is an added bonus.</p>
                    </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Experience:</h5>
                      <p>2 - 5 years</p>
                    </div>
                </div>
<div class="col-sm-4">
                  <div class="panel-group" style="margin-top: 50px;">
                  <div class="panel panel-default" style="border:1px solid #CFD8DC;">
                    <h4 class="text-center" style="font-size: 22px; color: #4e5465;letter-spacing: 2px;margin: 30px 0px;min-width:300px;">Apply Now</h4>
                    <form id="login_submit" method="post" action="<%= send_resume_path %>" enctype="multipart/form-data" data-toggle="validator" role="form" style="">
                                <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="name" id="c_name" value="" required="true" title="Name" placeholder="NAME" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="email" class="login-form" name="email" id="c_email" value="" required="true" title="Email" placeholder="EMAIL" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="tel" class="login-form" name="phone" id="c_phone" value="" required="true" title="Phone" placeholder="PHONE" required="true" maxlength="10" minlength="10" oninvalid="setCustomValidity('Invalid Mobile Number')" onchange="try{setCustomValidity('')}catch(e){}" onkeyup="try{setCustomValidity('')}catch(e){}" />
                                </div>
                                 <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="designation" id="c_role" value="Sr. Android Developer" title="designation" placeholder="APPLYING FOR" readonly style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="file" class="login-form" name="file" id="c_cv" value="" title="Resume" placeholder="APPLYING FOR" required="true" accept=".pdf, .doc, .docx" style="letter-spacing: 1px;width:300px;margin: 0px auto;">
                                </div>
                                <div class="form-group fg" style="">
                                    <textarea placeholder="SHORT DESCRIPTION" rows="4" name="description" maxlength="150" id="Description" style="background-color: transparent; border:0px; border: 1px solid #ccc; padding: 10px 25px 10px 30px; font-size: 14px; line-height: 1.428571429;color: #555555;margin: 0px auto;width: 300px;display: block;"></textarea>
                                </div>

                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Apply Now</button>
                                </div>
                            </form>
                  </div>
              </div>
              </div>
              </div>
			      </div>
			    </div> -->
          <!-- End UX Designer-->
          <!-- Android Developer-->
			    <!-- <div class="panel panel-default">
			      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="cursor: pointer;">
			        <h4 class="panel-title">
			          <a style="width: 100%; display: inline-block; text-decoration: none; font-size: 18px; color: #4e5465;letter-spacing: 2px;" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><div class="col-sm-6"><%= image_tag("ui.png", :class => "des_icon", :alt => "Location icon") %>  Sr. UI/Ux Designer</div> <div class="col-sm-6 text-right" style="line-height: 25px;"> Exp. 4 - 6 yrs</div></a>
			        </h4>
			      </div>
			      <div id="collapse2" class="panel-collapse collapse">
			        <div class="panel-body" style="font-size: 15px;color: #757575; line-height: 1.5;">
                <div class="col-sm-8" style="">
                  <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Description:</h5>
                      <p>We are looking for a Senior Designer to produce and oversee digital and print creative solutions to address our marketing needs. <br/>To be successful in this role, you should have in-depth knowledge of graphic design, styles and layout techniques.<br/> 
                      You should also have experience executing marketing projects from conception to production, including websites, brochures and product packaging.<br/>
                      Ultimately, you will ensure the design team promotes our brand through delivering high quality pieces on tight deadlines.
                      </p>
                  </div>
                  <div>
                    <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Responsibilities:</h5>
                      <p>Designing original pieces, including illustrations and infographics.<br/>
                      Overseeing all design projects, from conception to delivery.<br/>
                      Reviewing junior designers’ work to ensure high quality Refine images, fonts and layouts using graphic design software.<br/>
                      Apply typography techniques.<br/>
                      Collaborate with product management and engineering to define and implement innovative solutions for the product direction, visuals and experience.<br/>
                      Execute all visual design stages from concept to final hand-off to engineering.<br/>
                      Conceptualise original ideas that bring simplicity and user friendliness to complex design roadblocks.<br/>
                      Create wireframes, storyboards, user flows, process flows and sitemaps to effectively communicate interaction and design ideas.<br/>
                      Generate ideas to portray concepts and advertise products/services Increase user friendliness in digital products.<br/>
                      Develop wireframes and prototypes around customer needs.<br/>
                      Find creative ways to solve UX problems (e.g. usability, findability).<br/>
                      Maintain brand consistency throughout all our marketing projects.<br/>
                      Stay up-to-date with industry developments and tools.</p>
                  </div>
                  <div>
                    <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Requirements:</h5>
                    <p>Proven work experience as a Lead Designer, Graphic Designer or similar role.<br/>
                    Portfolio of completed design projects Proven experience as a UX Designer, UI Designer or similar role Strong portfolio of design projects.<br/>
                    Familiarity with interaction design and information architecture.<br/>
                    Proficient in design software (e.g. UXPin, Balsamiq) Knowledge of HTML/CSS; JavaScript is a plus Proficiency in Photoshop, Illustrator, OmniGraffle, or other visual design and wireframing tools.<br/>
                    Hands-on experience with image editing software, like Photoshop and Adobe Illustrator.<br/>
                    Strong aesthetic skills with the ability to combine various colors, fonts and layouts.<br/>
                    Attention to visual details Up-to-date with the latest UI trends, techniques, and technologies BS/MS in Human-Computer Interaction, Interaction Design, or related.<br/>
                    Experience working in an Agile/Scrum development process.<br/>
                    Ability to meet deadlines and collaborate with a team.<br/>
                    Excellent communication skills.</p>
                  </div>
                  <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Experience:</h5>
                      <p>4 - 6 years</p>
                  </div>
                  <!--  <div style="margin:30px 0px;">
                      <p> <a class="btn btn-default">APPLY NOW</a> or Mail your CVs to <a href="mailto:careers@mapprr.com" target="_blank"" style="color: #1e88e5;">careers@mapprr.com</a></p>
                      
                  </div> -->
                <!-- </div>
<div class="col-sm-4">
                  <div class="panel-group" style="margin-top: 50px;">
                  <div class="panel panel-default" style="border:1px solid #CFD8DC;">
                    <h4 class="text-center" style="font-size: 22px; color: #4e5465;letter-spacing: 2px;margin: 30px 0px;min-width:300px;">Apply Now</h4>
                    <form id="login_submit" method="post" action="<%= send_resume_path %>" enctype="multipart/form-data" data-toggle="validator" role="form" style="">
                                <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="name" id="c_name" value="" required="true" title="Name" placeholder="NAME" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="email" class="login-form" name="email" id="c_email" value="" required="" title="Email" placeholder="EMAIL" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="tel" class="login-form" name="phone" id="c_phone" value="" required="true" title="Phone" placeholder="PHONE" required="true" style=""  maxlength="10" minlength="10" oninvalid="setCustomValidity('Invalid Mobile Number')" onchange="try{setCustomValidity('')}catch(e){}" onkeyup="try{setCustomValidity('')}catch(e){}" />
                                </div>
                                 <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="designation" id="c_role" value="Sr. UI/UX Designer" title="designation" placeholder="APPLYING FOR" readonly style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="file" class="login-form" name="file" id="c_cv" value="" title="Resume" placeholder="APPLYING FOR" required="true" accept=".pdf, .doc, .docx" style="letter-spacing: 1px;width:300px;margin: 0px auto;">
                                </div>
                                <div class="form-group fg" style="">
                                  <textarea placeholder="SHORT DESCRIPTION" name="description" rows="4" maxlength="150" id="Description" style="background-color: transparent; border:0px; border: 1px solid #ccc; padding: 10px 25px 10px 30px; font-size: 14px; line-height: 1.428571429;color: #555555;margin: 0px auto;width: 300px;display: block;"></textarea>
                                </div>

                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Apply Now</button>
                                </div>
                            </form>
                  </div>
              </div>
</div>



              </div>
            </div>
			    </div> -->
			    <!-- Android Developr-->
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="cursor: pointer;">
              <h4 class="panel-title">
                <a style="width: 100%; display: inline-block; text-decoration: none;font-size: 18px; color: #4e5465; letter-spacing: 2px;" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><div class="col-sm-6"><%= image_tag("android.png", :class => "des_icon", :alt => "Location icon") %> Customer Support Executive </div> <div class="col-sm-6 text-right" style="line-height: 25px;"> Exp. 2+ yrs</div></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body" style="font-size: 15px;color: #757575; line-height: 1.5;">
                  <div class="col-sm-8">
                    <div>
                    <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Description:</h5>
                    <p>We are looking for a Customer support executive who plays a critical role in providing an interface between customers and the company.
                    </p>
                  </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Responsibilities:</h5>
                        <p>-2+ year prior work experience<br>
                          -Must be good at communication (English, Hindi, Telugu)<br>
                          -Should know phone etiquette, e-mail etiquette<br>
                          -Graduation must (Any Graduation)<br>
                          -Day shifts (10 AM to 7.30 PM)<br>
                          -Immediate joiner preferred <br>
                          -Candidates with references preferred<br>
                          -Work Location- Madhapur, Hyderabad ( Candidates residing nearby location preferred)</p>
                    </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Requirements:</h5>
                      <p>-Good communications skills<br>
                        -Ability to listen and active problem-solving skills<br>
                        -Good interpersonal skills<br>
                        -Ability to handle the pressure</p>
                    </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Experience:</h5>
                      <p>2+ years</p>
                    </div>
                </div>
<div class="col-sm-4">
                  <div class="panel-group" style="margin-top: 50px;">
                  <div class="panel panel-default" style="border:1px solid #CFD8DC;">
                    <h4 class="text-center" style="font-size: 22px; color: #4e5465;letter-spacing: 2px;margin: 30px 0px;min-width:300px;">Apply Now</h4>
                    <form id="login_submit" method="post" action="<%= send_resume_path %>" enctype="multipart/form-data" data-toggle="validator" role="form" style="">
                                <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="name" id="c_name" value="" required="true" title="Name" placeholder="NAME" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="email" class="login-form" name="email" id="c_email" value="" required="true" title="Email" placeholder="EMAIL" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="tel" class="login-form" name="phone" id="c_phone" value="" required="true" title="Phone" placeholder="PHONE" required="true" maxlength="10" minlength="10" oninvalid="setCustomValidity('Invalid Mobile Number')" onchange="try{setCustomValidity('')}catch(e){}" onkeyup="try{setCustomValidity('')}catch(e){}" />
                                </div>
                                 <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="designation" id="c_role" value="Customer support executive" title="designation" placeholder="APPLYING FOR" readonly style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="file" class="login-form" name="file" id="c_cv" value="" title="Resume" placeholder="APPLYING FOR" required="true" accept=".pdf, .doc, .docx" style="letter-spacing: 1px;width:300px;margin: 0px auto;">
                                </div>
                                <div class="form-group fg" style="">
                                    <textarea placeholder="SHORT DESCRIPTION" rows="4" name="description" maxlength="150" id="Description" style="background-color: transparent; border:0px; border: 1px solid #ccc; padding: 10px 25px 10px 30px; font-size: 14px; line-height: 1.428571429;color: #555555;margin: 0px auto;width: 300px;display: block;"></textarea>
                                </div>

                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Apply Now</button>
                                </div>
                            </form>
                  </div>
              </div>
              </div>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="cursor: pointer;">
              <h4 class="panel-title">
                <a style="width: 100%; display: inline-block; text-decoration: none;font-size: 18px; color: #4e5465; letter-spacing: 2px;" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><div class="col-sm-6"><%= image_tag("android.png", :class => "des_icon", :alt => "Location icon") %>Digital Marketing Analyst</div> <div class="col-sm-6 text-right" style="line-height: 25px;"> Exp. 3+ yrs</div></a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body" style="font-size: 15px;color: #757575; line-height: 1.5;">
                  <div class="col-sm-8">
                    <div>
                    <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Description:</h5>
                    <p>We are looking for a Digital Marketing Analyst who is keen on digital marketing, should be aware of various platforms, is ready to learn and evolve.
                    </p>
                  </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Responsibilities:</h5>
                        <p>-3+ Yrs of overall experience with very good communication skills<br>
                        -Develop and manage digital marketing campaigns<br>
                        -Oversee a social media strategy<br>
                        -Manage and maintain the organization’s website<br>
                        -Write and optimize content for the website and social networking accounts<br>
                        -Track and analyze website traffic flow and provide regular internal reports<br>
                        -Attain key performance indicators such as reducing the website bounce rate, increasing dwell time or improving conversion<br>
                        -Continually work on the Search Engine Optimization of the website, Social Media Optimization and App Store Optimization<br>
                        -Fix any errors or bugs in online content<br>
                        -Create online banner adverts and oversee pay per click (PPC) ad management<br>
                        -Write copy for email marketing campaigns<br>
                        Identify new trends in digital marketing, evaluate new technologies and ensure the brand is at the forefront of industry developments, particularly developments in mobile marketing</p>
                    </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Requirements:</h5>
                      <p>-SEO/SEM<br>
                        -Social Media Marketing<br>
                        -Content Management<br>
                        -Digital Marketing<br>
                        -App Optimization/ASO</p>
                    </div>
                    <div>
                      <h5 style="font-size: 18px;margin:20px auto 12px;color:#4e5465;">Experience:</h5>
                      <p>3+ years</p>
                    </div>
                </div>
<div class="col-sm-4">
                  <div class="panel-group" style="margin-top: 50px;">
                  <div class="panel panel-default" style="border:1px solid #CFD8DC;">
                    <h4 class="text-center" style="font-size: 22px; color: #4e5465;letter-spacing: 2px;margin: 30px 0px;min-width:300px;">Apply Now</h4>
                    <form id="login_submit" method="post" action="<%= send_resume_path %>" enctype="multipart/form-data" data-toggle="validator" role="form" style="">
                                <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="name" id="c_name" value="" required="true" title="Name" placeholder="NAME" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="email" class="login-form" name="email" id="c_email" value="" required="true" title="Email" placeholder="EMAIL" required="true" style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="tel" class="login-form" name="phone" id="c_phone" value="" required="true" title="Phone" placeholder="PHONE" required="true" maxlength="10" minlength="10" oninvalid="setCustomValidity('Invalid Mobile Number')" onchange="try{setCustomValidity('')}catch(e){}" onkeyup="try{setCustomValidity('')}catch(e){}" />
                                </div>
                                 <div class="form-group fg" style="">
                                    <input type="text" class="login-form" name="designation" id="c_role" value="Digital Marketing Analyst" title="designation" placeholder="APPLYING FOR" readonly style="letter-spacing: 1px;">
                                </div>
                                <div class="form-group fg" style="">
                                    <input type="file" class="login-form" name="file" id="c_cv" value="" title="Resume" placeholder="APPLYING FOR" required="true" accept=".pdf, .doc, .docx" style="letter-spacing: 1px;width:300px;margin: 0px auto;">
                                </div>
                                <div class="form-group fg" style="">
                                    <textarea placeholder="SHORT DESCRIPTION" rows="4" name="description" maxlength="150" id="Description" style="background-color: transparent; border:0px; border: 1px solid #ccc; padding: 10px 25px 10px 30px; font-size: 14px; line-height: 1.428571429;color: #555555;margin: 0px auto;width: 300px;display: block;"></textarea>
                                </div>

                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Apply Now</button>
                                </div>
                            </form>
                  </div>
              </div>
              </div>
              </div>
            </div>
          </div>


			  </div> 
        <!--end accordion --> 
 		</div>
 	</div>

</div>


 <script>
  $(document).ready(function() {
$('.banner-carousel').owlCarousel({
                        loop: true,
                        margin: 0,
                        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        dots: false,
                        responsiveClass: true,
                        items: 1,
                        responsive: {
                            768: {
                                nav: true
                            }
                        }
                    }); 
 
});
 </script>

 <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
