<% content_for :head do %>
    <title>Mapprr | Get availability of any product in your location</title>
    <meta name="description" content="Mapprr is used to find the availability of products, brands based on your location. User can also search the products through barcode and get the live availability of products with store contact info and location. Simply you can Stop Roaming Start Searching.">
    <meta name="keywords" content="mapprr, mapper, pharmacy near me, medical near me, medical store near me, shops near me, medicine app, 24 hr pharmacy near me">
<% end %>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<div class="header">
    <div class="h_bg">   
        <nav class="navbar navbar-lighttopnav home-nav" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-md-6 col-sm-6 col-xs-6 location">
                    <div class="navbar-left upper-links loc_m">
                        <a class="home-location dropdown-toggle" data-toggle="dropdown"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %> <span id="geolocation">Choose location</span></a>
                        <ul class="dropdown-menu c_loc" role="menu" style="position: absolute;top: 80%;border: 0;border-radius: 0;margin: 0;left: 0;padding: 15px 7px;">
                            <li class="dropdown-header" style="color: #263238;  ">Select Location</li>
                            <li id="profile" class="profile-li" style="padding:7px 12px;">
                                <form id="mform" method="post" action="javascript:;" data-toggle="validator" role="form">

                                    <div class="input-group" style="border:1px solid #bdbdbd;">
                                      <input id="m_loc" type="text" class="f-control" placeholder="Type your location..." style="min-width:250px; border:0px; ">
                                      <span class="input-group-btn" style="border-left: 1px solid #bdbdbd;padding:1px;">
                                        <button class="btn btn-secondary" id="detect_loc" type="button" style="background-color: #fff;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %></button>
                                      </span>
                                    </div>
                                </form>
                            </li>
                        </ul>

                    </div>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-md-6 col-sm-6 col-xs-6 location">
                    <div class="navbar-right upper-links" id="nav-link" style="float: right;">
                        <span class="user_login" id="user_login"></span>
                        <ul class="dropdown-menu">

                            <li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>

                            <!-- <li id="profile" class="profile-li"><a class="profile-links" id="profile_link">Profile Info</a></li> -->
                            <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
                            <li id="logout" class="profile-li"><a class="profile-links" href="">Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </nav>

        <div class="container search-sec">
            <div class="row search-title">

                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h1 class="title">
                        <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "mapprr_logo img-responsive", :alt => "Location") %>
                    </h1>
                </div>
            </div>
            <div class="row search-box" style="">
                <div class="col-sm-12 col-md-12 col-lg-12" itemscope itemtype="http://schema.org/WebSite">
                    <meta itemprop="url" content="https://mapprr.com/"/>
                    <form action="<%= products_path() %>" method="POST" id="p_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
                        <meta itemprop="target" content="https://mapprr.com/products?product={product}"/>
                        <div class="input-group searchbox-input">
                            <input type="text" itemprop="query-input" id="search_query" name="product" class="searchtxt" placeholder="What are you looking for?" required="true" title="What are you looking for?" autocomplete="off">
                            <div class="input-group-btn">
                                <button class="btn btn-default searchbtn" type="submit">
                                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bg end -->


<!-- features -->
<div class="features section" id="features">
    <div class="mapprr-container">
        <div class="row">
            <h3 class="headings">Features</h3>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-5 col-xs-12 hidden-xs hidden-sm">
                <div class="text-center" style="margin-top: 20px;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/flow.gif", :alt => "searching/surfing", :class=> "feature_img img-responsive effect4 four animated") %></div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="row" style="margin-top: 18px;">
                    <div class="col-md-6 col-sm-6">
                        <div class="feature_grid" onclick="scrollToTop();return false;">
                            <div class="text-center"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/f1-6.png", :alt => "Live Availability", :class=> "effect3 three animated") %></div>
                            <h2 class="features-title">Live availability</h2>
                            <div class="features-content">You don't even need to lift your finger to check the live availability of any product</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature_grid" onclick="scrollToTop();return false;">
                            <div class="text-center"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/f4-4.png", :alt => "instant call & location", :class=> "effect3 four animated") %></div>
                            <h4 class="features-title">Instant call & location</h4>
                            <div class="features-content">We provide store contact info, just in case if you want to check our accuracy</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="feature_grid" onclick="scrollToTop();return false;">
                            <div class="text-center"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/f2-3.png", :alt => "Barcode search", :class=> "effect3 four animated") %></div>
                            <h2 class="features-title">Barcode Scanner</h2>
                            <div class="features-content">Instead of typing product name, search with Barcode!!!</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature_grid" onclick="scrollToTop();return false;">
                            <div class="text-center"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/f3-3.png", :alt => "favourite search", :class=> "effect3 three animated") %></div>
                            <h3 class="features-title">Favourite store</h3>
                            <div class="features-content">Visiting store quite often? mark it as favourite to access it faster</div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end features -->

<!--Blogs-->
<div class="blogs flow_content section">
    <div class="mapprr-container" style="padding:0px 10px;">
        <div class="row">
            <h2 class="headings">Blogs</h2>
        </div>
        <!-- Step 1-->
        <div class="row" style="margin: 50px 0px;">
            <% @blogs.each do |blog| %>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="blog-card">
                        <img src="<%= blog['cover_image'] %>" alt="Avatar" style="width:100%">
                        <div class="bcard">
                            <a target="_blank" href="/blogs/<%= blog['title'].parameterize %>" style="text-decoration: none;"><h4 class="card-title"><b><%= blog['title'].capitalize %></b></h4></a>
                            <div class="card-text blog-content"><%= raw blog['content'] %></div>
                        </div>
                        <div class="blog-footer">
                            <a target="_blank" href="/blogs/<%= blog['title'].parameterize %>">READ MORE</a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="row">
            <div style="width: 200px; margin:auto;">
                <a target="_blank" href="/blogs" class="btn mapprr-btn" style="border-radius: 50px;padding: 10px 0px;">SEE MORE</a>
            </div>
        </div>
        <!-- End Step 1-->
    </div>
</div>
 <!-- End blogs -->

 <div class="flow section">
    <!-- Flow -->
    <div class="mapprr-container">
        <div class="row">
            <h5 class="headings">How it works</h5>
        </div>
        <div class="row" style="margin: 31px 0px;">
            <!-- Step 1-->
            <div class="col-md-4 col-sm-4 col-xs-12 effect3 one animated" style="margin: 31px 0px;">
                <div class="text-center" style="min-height:150px;" onclick="scrollToTop();return false;">
                    <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/step1-4.png", :class=> "img-responsive howitworks", :alt => "search" ) %>
                </div>
                <div class="" style="padding-top: 30px;">
                    <div class="text-center" style="margin: 25px 0px;"><span onclick="scrollToTop();return false;" style="padding: 9px 14px; border:1px solid #bdbdbd;border-radius: 50px;color: #000000;font-weight: bold">1</span></div>
                     <h2 class="flow_title">Search</h2>
                    <div class="flow_content">
                    Start searching with our simple interface by product name or just scan the barcode to pick the right product
                    </div>
                </div>
            </div>
            <!-- End Step 1-->

            <!-- Step 2-->
            <div class="col-md-4 col-sm-4 col-xs-12 effect3 two animated" style="margin: 31px 0px;">
                <div class="text-center" style="min-height:150px;" onclick="scrollToTop();return false;">
                    <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/step2-5.png", :class=> "img-responsive howitworks", :alt => "Select/pickup" ) %>
                </div>
                <div class="" style="padding-top: 30px;">
                    <div class="text-center flow_step" onclick="scrollToTop();return false;" style="margin: 25px 0px;"><span style="padding: 9px 12px; border:1px solid #bdbdbd;border-radius: 50px; width:50px;color: #000000;font-weight: bold;">2</span></div>
                    <h3 class="flow_title">Select</h3>
                    <div class="flow_content">
                    From the list of product suggestions pick your desired product to get the stores around you with availability
                    </div>
                </div>
            </div>
            <!-- End Step 2-->

            <!-- Step 3-->
            <div class="col-md-4 col-sm-4 col-xs-12 effect3 three animated" style="margin: 31px 0px;">
                <div class="text-center" style="min-height:150px;" onclick="scrollToTop();return false;">
                    <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/step3-3.png", :class=> "img-responsive howitworks", :alt => "Store" ) %>
                </div>
                <div class="" style="padding-top: 30px;">
                    <div class="text-center" style="margin: 25px 0px;"><span onclick="scrollToTop();return false;" style="padding: 9px 12px; border:1px solid #bdbdbd;border-radius: 50px;color: #000000;font-weight: bold;">3</span></div>
                    <h3 class="flow_title">Store</h3>
                    <div class="flow_content">
                    Select a desired store from the list to find out their timings, contact information and the fastest way to reach to it
                    </div>
                </div>
            </div>
            <!-- End Step 3-->
        </div>
    </div>
    <!-- End Flow -->
</div> 

<!-- testimonials-->

<div class="testimonals gradient">
    <div class="jumbotron-container">
        <div class="hidden-sm hidden-xs" style="position: absolute;left: 15%;"><i class="fa fa-quote-left fa-4x" aria-hidden="true" style="color:#f6f6f6;"></i></div>
        <div class="">
            <h3 class="headings" style="color: #fff">Testimonials</h3>
        </div>
        <!-- Step 1-->
        <div class="row" style="margin: 30px 0px;">
            <div class="col-md-12 col-sm-12 col-xs-12 flow_content" style="padding: 30px auto;">
                <div id="mapprrCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                        
                            <div class="text-center testi_txt" style="">
                                <div class="col-sm-12">
                                    <p class="testimonials-title">No more roaming on roads for your medicines..!! great app to locate pharma stores near you for all types of medicines.Time saving..!! great UI.!!</p>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-md-offset-7 col-md-5 col-sm-12 col-xs-12">
                                    <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/profile-avatar3.png", :alt => "Location icon", :class=> "img-circle", :height=> "") %>
                                        <small class="m_view"><i>Harsha vardhan</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="text-center testi_txt" style="">
                                <div class="col-sm-12">
                                    <p class="testimonials-title">A best way to find required products in various stores. Really helps when we shop products in bulk by directing us to the nearest stores.</p>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-md-offset-7 col-md-5 col-sm-12 col-xs-12">
                                    <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/profile-avatar5.png", :alt => "Location icon", :class=> "img-circle", :height=> "") %>
                                        <small class="m_view"><i>Saishiva Manala</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="item">
                            <div class="text-center testi_txt" style="">
                                <div class="col-sm-12">
                                    <p class="testimonials-title">Reduced the hassle of going from store to store in search of a product. Now I get to the right store in no time. Thank you team! </p>
                                </div>
                                <div class="col-sm-12 col-sm-12 col-xs-12">
                                    <div class="col-md-offset-7 col-md-5 col-sm-12 col-xs-12">
                                    <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/profile-avatar3.png", :alt => "Location icon", :class=> "img-circle", :height=> "") %>
                                        <small class="m_view"><i>Amulya</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#mapprrCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">left</span>
                    </a>
                    <a class="right carousel-control" href="#mapprrCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">right</span>
                    </a>
                </div>
                
            </div>
        </div>
        <!-- End testimonials-->
    </div>

</div>

<div id="snackbar"></div>

<script>
        var timeOut;
        function scrollToTop() {
            if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
                window.scrollBy(0,-50);
                timeOut=setTimeout('scrollToTop()',10);
            }
            else clearTimeout(timeOut);
        }
    </script>

<script type="text/javascript">
    $(window).scroll(function() {

                $(".effect").each(function() {
                    var pos = $(this).offset().top;
                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 700) {
                        $(this).addClass("bounceInLeft");
                    }
                }); 

                $(".effect2").each(function() {
                    var pos = $(this).offset().top;
                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 700) {
                        $(this).addClass("bounceInRight");
                    }
                }); 
                $(".effect3").each(function() {
                    var pos = $(this).offset().top;
                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 800) {
                        $(this).addClass("zoomIn");
                    }
                }); 
                $(".effect4").each(function() {
                    var pos = $(this).offset().top;
                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 800) {
                        $(this).addClass("bounce");
                    }
                }); 

            });
</script>
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUpobR20JfD78lRFdkVU2VV1joDsBVjA&libraries=places&callback=initAutocomplete">
    </script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
