<% content_for :head do %>
    <title>Mapprr | Mapprr privacy policy</title>
    <meta name="description" content="Mapprr privacy policy is how and where our app use your personal information and how we secure your information.">
    <meta name="keywords" content="Privacy policy, Search, Mapprr, Products, Stores">
<% end %>
<nav class="navbar navbar-light productnav" role="navigation">
<div class="container" style="margin:18px auto;">
	  	<div class="navbar-left col-sm-6 col-md-3"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %>  </a></div>
</div>
	</nav>

 <div class="container">
 <div class="row">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/privacy-policy"><span itemprop="name">Privacy Policy</span></a><meta itemprop="position" content="2" /></li>
        </ol>
    </div>  
<div class="col-md-12" id="privacypolicy">
    <h2>Privacy Policy</h2>
        <p><b>1. INTRODUCTION</b></p>
        <p>
        <ol type="A">
            <li>The User ("you" or “User”) are required to read and accept all of the terms and conditions laid down in this Privacy Policy Statement (“Policy”) and the linked Terms and Conditions, before you use the, website and content (“Content”) made available to you by Mapprr (hereinafter referred to as “we” or “our”).</li>
            <li>We are committed to maintaining your privacy. Our privacy policy statement is given below. If we make changes to this Policy, we will notify you by updating this Policy statement on our Website (“Website/Site”). This Policy outlines the manner your data is collected and used by us. You are advised to please read the Policy carefully. By accessing the Content provided by the Site, you agree to the collection and use of your data by us in the manner provided in this Policy.</li>
            <li>The Policy does not apply to the procedures and practices followed by entities that are not managed, owned or controlled by us or to the people that are not engaged, employed or managed by us. Through this document, we wish to make you:
                <ol type="i">
                    <li>Feel at ease while using our Website;</li>
                    <li>Feel confident while sharing information with us;</li>
                    <li>Aware that you may contact us with your questions or concerns about privacy on our Websites;</li>
                    <li>Aware that by using our Websites you are agreeing to the collection of certain data.  </li>
                </ol>
            </li>
            <li>For purposes of this Policy:
                <ol type="i">
                    <li>“<b>Business partners</b>” means all subcontractors, vendors or other entities with which we have a relationship for constant commercial supplies, Content or information;</li>
                    <li>​“<b>Information</b>” shall include data, message, text, images, sound, voice, codes, computer programmes, software and data bases.</li>
                    <li>​“<b>Personal Information</b>” means any information which is capable of identifying you (either directly or indirectly, in combination with other information available or likely to be available with us), such as your name, phone number and email address;</li>
                    <li>​“<b>Privacy Rules</b>” means Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 updated from time to time;</li>
                    <li>​“<b>Sensitive Personal Data or Information</b>” shall have the meaning ascribed to such term under the Privacy Rules.</li>
                </ol>
            </li>
        </ol>
        </p>
        <!--End Introduction-->
        <!--Start INFORMATION COLLECTED-->

      <p><b>​2. INFORMATION COLLECTED</b></p>
        <p>
            <ol type="i">
                <li>We collect the details provided by you together with information we learn about you from your use of our Content and your visits to our Website and other websites accessible from them.</li>
                <li>​We may collect additional information in connection with your participation in any promotions or contests offered by us and information you provide when giving us feedback or completing profile forms. We also monitor customer traffic patterns and Website use, which enables us to improve the service we provide. We will collect only such information as is necessary and relevant to us to provide you with the Content available on the Website.</li>
                <li>While you use our Website, we may have automatic access to (receive and collect) certain anonymous information in standard usage logs through our web server, obtained from “cookies” sent to your browser from web server cookies stored on your hard drive, including but not limited to:
                    <ol type="a">
                    <li>Computer-identification information;</li>
                    <li>IP address, assigned to the computer which you use;</li>
                    <li>The domain server through which you access our service;</li>
                    <li>The type of computer you're using;</li>
                    <li>The type of web browser you're using.</li>
                    </ol>
                </li>
                <li>We may also collect the following information about:
                    <ol type="a">
                    <li>The pages you visit/access;</li>
                    <li>The links you click on our website;</li>
                    <li>The number of times you access the page;</li>
                    <li>Things you view, add to bag, add to wish list;</li>
                    <li>Other websites you open simultaneously while browsing on ours.</li>
                    </ol>
                </li>
                <li>We may collect location information (e.g., city and state and/or zip code) that you provide. Certain devices and browsers contain unique identifiers that can be used to identify the geographical location of the device. When you use such a device or browser to access our Site, your device and/or browser may automatically collect and/or transmit your location information.</li>
            </ol>
        </p>
        <!--End INFORMATION COLLECTED-->

        <!--Start-->
        <p><b>​3. ​WHEN / HOW WE COLLECT THE INFORMATION</b></p>
        <p>
            <ol type="i">
            <li>We may collect anonymous traffic information from you when you visit our Website.</li>
            <li>We collect the Personal Information from you when you register with us or you transact as a guest. During registration you are required to give us your contact information (such as name, email address, date of birth, gender, address, pin code, mobile number etc.) Upon registration you may receive communications from us (e.g. emails, newsletters, updates). Even when you transact as a guest we collect identifiable information (such as name, email address, date of birth, gender, billing address, delivery address, pin code, mobile number etc.).</li>
            <li>Any Information including Sensitive Personal Data or Information collected by us from you may be stored and processed in India or any other country in which we or our corporate affiliates, subsidiaries or agents maintain facilities that ensure the same level of data protection that is adhered to by us. You shall be deemed to have consented for transfer of your Information including Sensitive Personal Data or Information outside your country if you provide us your consent for collection and use of your Sensitive Personal Data of Information by us in the manner as specified in this Privacy Statement.</li>
            <li>We assure you that any Sensitive Personal Data or Information provided by you is collected when the collection of such information is necessary and used by us for a lawful purpose connected with our function or activity.</li>
            <li>We shall be permitted to use this information to contact you about the Content you are using on our Website and Content in which you have expressed interest.</li>
            <li>We are the sole owners of your information collected by us at different points on our Website.</li>
            <li>We will collect Personal Information about you only as part of on-line survey, or contest or any combination thereof.</li>
            <li>The Website contains links to other websites. We are not responsible for the privacy practices of such websites which we do not own, manage or control.</li>
            <li>We may at certain times make chat rooms, forums, instant messenger and message boards and other Content available to you. Please understand that any information that is disclosed in these areas becomes public information. We have no control over its use and you should exercise caution when disclosing your personal information to anyone.</li>
            <li>​If you use a bulletin board or chat room on our Websites, you should be aware that any Personal Information you submit there can be read, collected, or used by other users of these forums, and could be used to send you unsolicited messages. We are not responsible for the Personal Information you choose to submit in these forums.</li>
            </ol>
        </p>
         <!--End-->
          <!--Start-->
          <p><b>​4. ​​DISCLOSING PERSONAL INFORMATION</b></p>
        <p>You agree that we may share or disclose your Information including Sensitive Personal Data or Information with corporate affiliates and business partners (a) to carry out transactions you request or to make our business or that of our corporate affiliates more responsive to your needs; (b) if we reasonably consider it necessary to protect ourselves, its customers, or the public; (c) who help us to perform transactions you request or who help us to customize, evaluate, process, analyse, and/or improve our communication or relationship with you. We impose an obligation on our corporate affiliates and business partners who receive your Sensitive Personal Data or Information to keep such information secure in accordance with the Privacy Rules and to not disclose it further to third parties. You shall be deemed to have consented to sharing and disclosure of your Information including Sensitive Personal Data or Information by us with our corporate affiliates and business partners if you give your consent to provide us with your Sensitive Personal Data of Information in the manner as specified in this Policy. We may also disclose any Information provided by you (which may include your Personal Information and Sensitive Personal Data or Information) (a) in connection with law enforcement, fraud prevention, or other legal actions or legal obligations; or (b) if required to do so under applicable law or regulation in your country or by an order under the law for the time being in force; or (c) to government agencies mandated under the law of your country to obtain such information for the purpose of verification of identity, or for prevention, detection, investigation including any real or suspected adverse event in relation to cyber security that violates any applicable security policy. No consent will be required to be obtained by us from you for any of the aforesaid disclosures. In addition, you agree that we may share your Information with business partners that help us carry out transactions you request or that help us to customize, process, evaluate, analyse, and/or improve our communication or relationship with you, and who share our commitment to protecting your Information. Except as described above, we will not disclose your Personal Information including your Sensitive Personal Data or Information to third parties for their own marketing purposes, unless you consent for the same.</p>
        <!--End-->
        <!--Start-->
        <p><b>​5. ​​HOW IS THE INFORMATION USED?</b></p>
        <p>We shall use your contact information to send you Special offers; Changes in the policies or terms of use; or event based communications such as invites, reminders etc. We use your personal information to improve personalized features on our Website; or to preserve social history as governed by existing law or policy. We use anonymous traffic information to recognize your usage privileges to our Website; or track your session and activities so that we can understand better how people use our Website.</p>
        <!--end-->
        <p><b>​6. ​​WHO DO WE SHARE YOUR INFORMATION WITH?</b></p>
        <p>
        <ol type="i">
            <li>We do not share or rent your information with third parties.</li>
            <li>We do not rent, sell or share your Personal Information or Sensitive Personal Information and we will not disclose any of your Personal Information to any other third parties unless:
                <ol type="a">
                    <li>Required by special circumstances such as compliance with subpoenas, court orders, requests/order from legal authorities or law enforcement agencies requiring such disclosure;</li>
                    <li>To help investigate, prevent or take action regarding unlawful and illegal activities, suspected fraud, potential threat to the safety or security of any person, violations of terms of use or to defend against legal claims;</li>
                    <li>We have your permission; or</li>
                    <li>To provide Content requested by you.</li>
                </ol>
            </li>
            <li>We reserve the right to disclose your Personal Information or Sensitive Personal Information and email address information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on our Website.</li>
            <li>If we do share your information with advertisers it will strictly be on an aggregate basis only.</li>
            <li>The security of your personal information and email address is important to us. When you enter sensitive information (such as credit / debit card number) on our acquiring bank’s system or order forms, they encrypt that information using secure socket layer technology (SSL).</li>
            <li>We follow generally accepted industry standards to protect the personal information and email address submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your Personal Information and email address, we cannot guarantee its absolute security.</li>
            <li>If you have any questions about security on our Website you can email us at: <a href="mailto:queries@mapprr.com">queries@mapprr.com</a></li>
        </ol>
        </p>
        <!--end-->
        <p><b>​7. ​​​HOW YOU CAN ACCESS YOUR INFORMATION</b></p>
        <p>We want to maintain the Information including Personal Information and Sensitive Personal Data or Information provided by you accurately.</p>
        <p>WE SHALL NOT BE RESPONSIBLE FOR THE AUTHENTICITY OF THE INFORMATION OR SENSITIVE PERSONAL DATA OR INFORMATION SUPPLIED BY YOU AND ALL LIABILITIES IN RESPECT OF THE LOSSES WHICH MAY OCCUR DUE TO SUCH INCORRECT PERSONAL INFORMATION OR SENSITIVE PERSONAL DATA OR INFORMATION WILL BE SOLELY ATTRIBUTABLE TO YOU.</p>
        <!--end-->
        <p><b>8. SELECTING YOUR COMMUNICATION PREFERENCES​</b></p>
        <p>
            <ol type="i">
            <li>​You may choose to receive or not receive marketing communications from us by indicating your preferences through an email at <a href="mailto:feedback@mapprr.com">feedback@mapprr.com</a> for the website. All marketing by us or any third party on behalf of us, will be conducted in accordance with applicable laws of your country.</li>
            <li>Please allow up to 10 business days for your email preferences to become effective.</li>
            <li>​As some promotions, such as direct catalogues, are developed in advance, you may receive marketing communication after receiving your request preference.</li>
            </ol>
        </p>
        <!--end-->
        <p><b>9. ​HOW WE SECURE YOUR INFORMATION</b></p>
        <p>We are committed to protecting the security of your Information including Personal Information and Sensitive Personal Data or Information. We use a variety of security technologies and procedures to help protect your Information, Personal Information and Sensitive Personal Data or Information from unauthorized access, usage and disclosure, such as encryption, passwords, physical security, etc. While we strive to protect such information, we cannot ensure or warrant or guarantee that your Information or private communications you transmit to us will always remain private or confidential, and you do so at your own risk.</p>
        <!--end-->
        <p><b>10. ​COLLECTION AND USE OF CHILDREN'S INFORMATION</b></p>
        <p>We seriously consider the privacy of children. If you are under 18 years of age, please do not submit any Personal Information and Sensitive Personal Data or Information through our websites without the express consent and participation of a parent or guardian. If we become aware that we have inadvertently received personally identifiable information from a user under the age of 18 as part of the Site, we will delete such information from our records.</p>
        <!--end-->
        <p><b>11. CHOICES AVAILABLE REGARDING COLLECTION, USE AND DISTRIBUTION OF INFORMATION</b></p>
        <p>
           <ol type="i">
            <li>​You can accept or decline the cookies. All websites that are customizable require that you accept cookies. You can choose to set your browser to alert you to cookies, or to reject cookies.</li>
            <li>Cookies: A cookie is a small text file that is stored on a user's computer for record-keeping purposes. We use cookies on this Website. We do link the information we store in cookies to any Personal Information you submit while on our Website.</li>
            <li>​We use both session ID cookies and persistent cookies. We use session cookies to make it easier and secure for you to navigate our Website. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. You can remove persistent cookies by following directions provided in your Internet browsers “help” file.</li>
            <li>We use session cookies to store the secure session and browsing preferences of the user. We set a persistent cookie to store your username and interests so you don't have to enter it more than once. Persistent cookies also enable us to track and target the interests of our users to enhance the experience on our Website.</li>
            <li>​​If you reject cookies, you may still use our website, but your ability to use some areas of our website, will be limited.</li>
            <li>Unless you voluntarily identify yourself (through registration or social sign-up, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply. A cookie cannot read data off your hard drive.</li>
            <li>​Some of our business partners (e.g., advertisers) set cookies while delivering banners on our Website. We have no access to or control over these cookies.</li>
            <li>We do use cookies on point of collection pages of email address but we do not use them in emails.</li>
            <li>​Our web servers automatically collect limited information about your computer's/mobile phone’s connection to the Internet, including your IP address, when you visit or use our Website. (Your IP address is a number that lets computers attached to the Internet know where to send you data such as the web pages you view.) Your IP address does not identify you personally. We use this information to deliver our web pages to you upon request, to tailor our Website to the interests of our customers, to measure traffic within our website and let advertisers know the geographic locations from where our visitors come.</li>
            <li>Our Website may include links to other websites. Such websites are governed by their respective privacy policies, which are beyond our control. Once you leave our servers (you can know where you are by checking the URL in the location bar on your browser), use of any information you provide is governed by the privacy policy of the operator of the website you are visiting. That policy may differ from ours. If you can't find the privacy policy of any of these websites via a link from the website's homepage, you should contact the website directly for more information.</li>
          </ol>
        </p>
        <!--end-->
        <p><b>12. VOLUNTARY DISCLOSURE OF INFORMATION</b></p>
        <p>
           <ol type="i">
           <li>Providing us with Personal Information is entirely voluntary.</li>
           <li>You may change your interests at any time and may opt-in or opt-out of any marketing / promotional / newsletters mailings.</li>
           <li>Upon request, we will remove / block your Personal Information from our database, thereby cancelling your registration. However, your Information may remain stored in archive on our servers even after the deletion or the termination of your account.</li>
           <li>​If we plan to use your Personal Information for any commercial purposes, we will notify you at the time we collect that information and allow you to opt-out of having your information used for those purposes.</li>
           </ol>
        </p>
        <!--end-->
        <p><b>13. SECURITY PROCEDURES TO PROTECT INFORMATION FROM LOSS, MISUSE OR ALTERATION</b></p>
        <p>
           <ol type="i">
           <li>To protect your privacy and security, we will verify your identity, to the best of our abilities, before granting access or making changes to your Personal Information.</li>
           <li>​To protect against the loss, misuse and alteration of the information under our control, we have in place appropriate physical, electronic and managerial procedures. For example, our servers are accessible only to authorized personnel and your information is shared with respective personnel on need to know basis to complete the transaction and to provide the Content requested by you.</li>
           <li>​Although we will endeavour to safeguard the confidentiality of your Personal Information, transmissions made by means of the Internet cannot be made absolutely secure. By using our Websites, you agree that we will have no liability for disclosure of your information due to errors in transmission or unauthorized acts of third parties.</li>
           <li>We follow generally accepted industry standards to protect the Personal Information and email addresses submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information and email address, we cannot guarantee its absolute security.</li>
           <li>If you have any questions about security on our Website, you can send email us at <a href="mailto:queries@mapprr.com">queries@mapprr.com</a></li>
           <li>All information gathered on the Site is securely stored within a controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet and, of course, any information you include in a posting to the discussion areas is available to anyone with internet access.</li>
           <li>However, the internet is an ever evolving medium. We may revise our Policy from time to time to incorporate necessary changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.  </li>
           <li>We use third-party advertising companies to serve ads when you visit our website. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other websites in order to provide advertisements about goods and Content of interest to you.</li>
           </ol>
           </p>
           <!--end-->
        <p><b>14. ​THIRD-PARTY WEBSITES AND CONTENT</b></p>
        <p>
            Be aware that other websites that can be accessed through our website may collect your Information, Personal Information and Sensitive Personal Data or Information. The information practices of those third-party websites are not covered by this Privacy Statement. We will not be responsible for any breach of your privacy or any other loss arising to you as a result of collection of you Information, Personal Information and Sensitive Personal Data or Information by such websites.
Please be aware that, in providing Content on our behalf, our business partners may collect information about you to provide Content on behalf of us.
        </p>
        <!--end-->
        <p><b>15. ​POLICY UPDATES</b></p>
        <p>
            <ol type="i">
           <li>​We reserve the right to change or update this Policy at any time by placing a prominent notice on our website. Such changes shall be effective immediately upon posting to this website.</li>
           <li>​If we make changes to this Privacy Statement or we make any material changes to the way we will use your Information including Personal Information and Sensitive Personal Data or Information, we will review the Privacy Statement to reflect such changes and also the effective date of the declaration, included at the end of this section. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you on our homepage.</li>
           <li>If we decide to make changes in our email practices, we will post those changes to this privacy policy, the homepage, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</li>
           <li>​We encourage you to periodically review this Privacy Statement to stay informed about how we are protecting your Information including Personal Information and Sensitive Personal Data or Information.  </li>
           </ol>
        </p>
        <!--end-->
        <p><b>16. ​CONTACT INFORMATION</b></p>
        <p>If you have any questions about this Site or our privacy policies, visit <a href="http://www.mapprr.com/">www.mapprr.com</a></p>

</div>
</div>

                      <!--Privacy Policy-->


                      <!--// Privacy Policy-->


<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
