<% content_for :head do %>
    <title>Mapprr | Team</title>
    <meta name="description" content="The strength of the team is each member. The strength of each member is the team. Mapprr has a great team working with great effort to become the greatest success.">
    <meta name="keywords" content="team, mapprr team members, Subhakar. Naidu, Naveen Babu Valluri, Sahithi Baladari, Krishna Bhargav Dadhirao, Ravi Teja Varma, Ashok Kumar Y, Harshitha Pundra, Bhudeb Kumar Sarkar">
<% end %>
<style type="text/css">
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

      margin-bottom: 0;
      background-color: transparent;
      z-index: 9999;

      font-size: 13px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;

  }
  .navbar-default {
    border-color: transparent;
}
  .navbar li a, .navbar .navbar-brand {
      color: #ffffff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #1e88e5 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #4e5465 !important;
  }
.navbar-toggle.mbtn
{
    margin-top: 25px;
    padding:5px auto;
}
@media screen and (min-width: 768px) {
    #mNav {
        margin-top: 25px;
    }
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

 </style>

 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle mbtn" data-toggle="collapse" data-target="#mNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/mapprr-logo3.png", :class => "img-responsive", :alt => "Location icon") %></a>
    </div>
    <div class="collapse navbar-collapse" id="mNav">
      <ul class="nav navbar-nav navbar-right" style="color:#1e88e5;">
        <li><a href="/">HOME</a></li>
        <li><a href="/team" style="color: #1e88e5 !important;">ABOUT</a></li>
        <li><a href="/careers">CAREERS</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row hidden">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/team"><span itemprop="name">Team</span></a><meta itemprop="position" content="2" /></li>
        </ol>
    </div>
<div class="container-fluid" style="padding: 0px;">

  <div id="slider" class="carousel slide" data-ride="carousel" style="webkit-box-shadow: 0px 2px 12px 0px rgba(189,189,189,0.5);-moz-box-shadow: 0px 2px 12px 0px rgba(189,189,189,0.5);box-shadow: 0px 2px 12px 0px rgba(189,189,189,0.5);">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="../assets/team_banner.png" style="width:100%;">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>

<!--       <div class="item">
        <img src="../assets/team_cover3.png" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
    
      <div class="item">
        <img src="../assets/team_cover3.png" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div> -->
  
    </div>

    <!-- Left and right controls -->
   <!--  <a class="left carousel-control" href="#slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>

<!-- team -->
<div class="team section" id="team">
    <div class="mapprr-container">
        <!-- <div class="row">
            <h2 class="headings">Founder Words</h2>
        </div> -->
        <div class="row">
            <div class="text-center" style="font-size: 20px;line-height: 1.7;width:70%;margin:12px auto; color: #757575;">Coming together is a beginning, Keeping together is progress, Working together is success is what we believe in Mapprr.</div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-md-12 col-sm-12">
                        <div class="team_grid">
                            <div class="col-md-4">
                                <div class="text-center team_mem"><%= image_tag("team_img2.png", :alt => "Founder & CEO", :class => "img-responsive") %></div>
                            </div>
                            <div class="col-md-8">
                            
                            <h4 class="features-title" style="margin-bottom: 1px;text-align: justify;color: #4e5465;letter-spacing: 1px;">K Subhakar </h4>
                            <div class="features-content" style="text-align: justify;letter-spacing: 2px;">Founder & CEO</div>
                            <div class="features-content" style="margin-top: 15px;text-align: justify;font-size: 16px;line-height: 1.5;">Subhakar started his journey in building a product search application. While working on a robotics project, he found difficulty in finding products in the nearby stores and therefore identified a gap between the retailer and consumer which gave birth to the idea of Mapprr.</div>
                            <div class="features-content" style="margin-top: 10px;text-align: justify;font-size: 16px;line-height: 1.5;">Subhakar kept his efforts in gathering a team, brainstormed ideas to build a bridge between merchant and consumer. Mapprr is the first product search application to find products or brands from any particular location with an availability of the product in the store.</div>
                            <div class="features-content" style="margin-top: 10px;text-align: justify;font-size: 16px;line-height: 1.5;"><i>"Work hard, Have Fun, Make a Difference"</i></div>
                            <div class="features-content team_social_link" style="margin-top: 20px;text-align: justify;">
                              <a href="https://www.linkedin.com/in/aruna-subhakar-p-58a3a492/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/subhakar" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                    </div>
        </div>
        <div class="row" style="margin-top: 70px;">
            <h2 class="headings">People</h2>
        </div>
         <div class="row">
            <div class="text-center" style="font-size: 20px;line-height: 1.7;width:70%;margin:12px auto; color: #757575;">The strength of the team is each member. The strength of each member is the team. Mapprr has a great team working with great effort to become the greatest success.</div>
          <!--   <div class="text-center" style="font-size: 16px;line-height: 1.7;width:70%;margin:12px auto; color: #757575;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row" style="margin-top: 18px;">

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("naveen_valluri.png", :alt => "Founder & CEO", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Naveen Babu Valluri</h4>
                            <div class="features-content" style="letter-spacing: 1px;">Chief Technology Officer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/naveen-valluri-81535951/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/NaveenBValluri" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/naveen-valluri" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("sahithi_baladari.png", :alt => "HR", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Sahithi Baladari</h4>
                            <div class="features-content" style="letter-spacing: 1px;">HR Manager</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/sahithi-baladari-31068495/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/sahithi-baladari" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("krishna_bhargav_dadhirao.png", :alt => "Mobile app developer", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Krishna Bhargav Dadhirao</h4>
                            <div class="features-content" style="letter-spacing: 1px;">Mobile Application Developer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/krishnadadhirao/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/Krishdadhirao" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/krishna-bhargav-dadhirao" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("ravi_varma.png", :alt => "Backend developer", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Ravi Teja Varma</h4>
                            <div class="features-content" style="letter-spacing: 1px;">Back-End Developer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/ravi-teja-varma-94965a71/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/raviteja1993" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/raviteja1993" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>                        
                    </div>
                </div>

                <div class="row" style="margin-top: 18px;">

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("ashok_kumar_yarramsetti.png", :alt => "Founder & CEO", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Ashok Kumar Y</h4>
                            <div class="features-content" style="letter-spacing: 1px;">Front-End Developer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/ashok-kumar-14288886" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/bujjiashok" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/ashok-kumar-21" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("harshitha.png", :alt => "HR", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Harshitha Pundra</h4>
                            <div class="features-content" style="letter-spacing: 1px;">Digital Marketing Analyst</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/harshitha-p-8ba782a4/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/harshitha.pundra" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/harshitha-pundra" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("bhudeb.png", :alt => "Mobile app developer", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Bhudeb Kumar Sarkar</h4>
                            <div class="features-content" style="letter-spacing: 1px;">QA Engineer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/bhudeb-kr-sarkar-70077142" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/bhudebkumar" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/bhudeb-sarkar" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("shruity.png", :alt => "Mobile app developer", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Shruity Govil</h4>
                            <div class="features-content" style="letter-spacing: 1px;">Sr. Android Developer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/shruity-govil-ab31a2a9" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/shruity.govil" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/shruity-govil" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: 18px;">

                  <div class="col-md-3 col-sm-3">
                        <div class="team_grid">
                            <div class="text-center team_mem_pic"><%= image_tag("mohit.png", :alt => "Mobile app developer", :class=> "img-circle") %></div>
                            <h4 class="features-title" style="margin-bottom: 1px;color: #4e5465;letter-spacing: 1px;">Mohit Mangal</h4>
                            <div class="features-content" style="letter-spacing: 1px;">UI/UX Designer</div>
                            <div class="features-content team_social_link" style="margin-top: 15px;">
                              <a href="https://www.linkedin.com/in/mohit-mangal-41a30090/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://www.facebook.com/mohitmngl" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                              <a href="https://angel.co/mohit-mangal-2" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a></div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top:100px;">
                    <div class="col-md-12 col-sm-12">
                        <div class="team_grid">
                            <div class="col-md-6">
                                 <div class="text-center"><%= image_tag("team2.png", :alt => "Team", :class => "img-responsive") %></div>
                            </div>
                            <div class="col-md-6">
                               <h2 class="headings" style="margin-top: 70px;text-align: justify;">Be a part of our team</h2>
                                 <div class="features-content" style="margin-top: 15px;text-align: justify;font-size: 16px;line-height: 1.5;">We're always interested in having talented and creative folks. If you want to be a part of our team, we'd love to have a chat. Explore various opportunities in our careers page and check if there's any role that matches your expertise. If there isn't one and we like each other, we'll create one for you.</div>
                                 <div style="width: 200px;text-align: justify;margin-top: 20px;">
                                    <a target="_blank" href="/careers" class="btn mapprr-btn" style="border-radius: 50px;padding: 10px 0px;font-size: 12px;">JOIN US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end features -->


<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>