<% content_for :head do %>
    <title>Mapprr | Mapprr terms and conditions</title>
    <meta name="description" content="The terms and conditions are the rules that apply to your use of the website https://mapprr.com/ and Mapprr app. These following terms and conditions are read, accepted, understood, and confirmed by the customer.">
    <meta name="keywords" content="Terms and Conditions, Search, Mapprr, Products, Stores">
<% end %>
<nav class="navbar navbar-light productnav" role="navigation">
<div class="container" style="margin:18px auto;">
	  	<div class="navbar-left col-sm-6 col-md-3"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %>  </a></div>
</div>
	</nav>

 <div class="container">
    <div class="row">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/terms-and-conditions"><span itemprop="name">Terms & Conditions</span></a><meta itemprop="position" content="2" /></li>
        </ol>
    </div>
                    
<div class="col-md-12" id="termsandconditions">
  <h2>Terms and Conditions</h2>
    <p><b>I. INTRODUCTION</b></p>
        <p>
            <ol type="A">
            <li>The User (“User” or “You”) is required to read and accept all the terms and conditions laid down in this Terms and Conditions (“Terms”) and the linked Privacy Policy, before the use of the Website and its content (“Website” or “Site”) made available by Mapprr(hereinafter referred to as “Company” “we” or “our” or “us”).</li>
            <li>We provide the Content to the User subject to the Terms.</li>
            <li>All information accessed or viewed by the User is considered confidential and is for only authorized personal or business purposes.</li>
            <li>These Terms are effective upon acceptance and governs the relationship between the User and the Company (includes its affiliates and subsidiaries, jointly and severally). If the Terms conflict with any other document, the Terms will prevail for the purposes of usage of the Site.</li>
            </ol>
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>II. ACCEPTANCE OF TERMS</b></p>
        <p>
            <ol type="A">
            <li>The Website is the property of the Company and /or its subsidiaries. By browsing, linking, referencing, using or accessing the Website, the User agrees to these Terms, including agreeing to indemnify and hold harmless the Company from all claims of any nature arising from the access and use of these websites by the User. These Terms may be changed at any time at the sole discretion of the Company. These Terms pertain to all Websites of the Company, including websites owned, operated or sponsored by any of the subsidiaries or affiliates of the Company.</li>
            <li>Please read these Terms carefully. These Terms, as modified or amended from time to time, are a binding contract between the Company and the User. If the User visits, uses, or operates the Site (or any future site operated by the Company), the User accepts these Terms. In addition, when the User uses any current or future Content of the Company or visits or uses any of the Content affiliated with the Company, the User will also be subject to the guidelines and conditions applicable to such Service. </li>
            <li>The Site takes no responsibility for the Content that are provided by any third party vendors.</li>
            <li>This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of the Website.</li>
            <li>The information provided on this Website includes, but is not limited to, the services provided by the Company and does not render any advice, certifications, guarantees or warranties on the Content (as defined below) relating to the services, which the Company makes available on this Website.</li>
            <li>The Company reserves the right to make any changes to the Terms and/or our Privacy Policy as may be deemed necessary or desirable without prior notification to the User. If the Company makes changes to the Terms and Privacy Policy and the User continues to use the Site, the User is impliedly agreeing to the revised Terms and Privacy Policy expressed herein.
To read the complete Terms, please see below.</li>
            </ol>
        </p>
         <!--End-->
        <!-- Start-->
        <p><b>1. RIGHTS/RESTRICTIONS RELATING TO SITE CONTENT</b></p>
        <p>
            <ol type="1">
             <li> Limitations on Linking and Framing. The User is free to establish a hypertext link to our Site as long as the link does not state or imply any sponsorship or service by us or by our Site. However, the User may not, without our prior written permission, frame or inline link any of the content of our Site, or incorporate into another website or other service any of our material, content or intellectual property.</li>
             <li>Company’s Right to Use Materials User Submits or Posts. When you submit or post any material via the Site, you grant us, and anyone authorized by us, a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to use, copy, modify, transmit, sell, exploit, create derivative works from, distribute, and/or publicly perform or display such material, in whole or in part, in any manner or medium (whether now known or hereafter developed), for any purpose that we choose. The foregoing grant includes the right to exploit any proprietary rights in such posting or submission, including, but not limited to, rights under copyright, trademark or patent laws that exist in any relevant jurisdiction. Also, in connection with the exercise of these rights, you grant us, and anyone authorized by us, the right to identify you as the author of any of your postings or submissions by name, email address or screen name, as we deem appropriate. User understands that the technical processing and transmission of the Site, including content submitted by you, may involve transmissions over various networks, and may involve changes to the content to conform and adapt it to technical requirements of connecting networks or devices. User will not receive any compensation of any kind for the use of any materials submitted.</li>
             <li>Limited Right to Use Site Materials. This Site and all the materials available on the Site are the property of the Company and/or affiliates or licensors, and are protected by copyright, trademark, and other intellectual property laws. The Site is provided solely for your personal non-commercial use. You may not use the Site or the materials available on the Site in a manner that constitutes an infringement of our rights or that has not been authorized by us. More specifically, unless explicitly authorized in these Terms or by the owner of the materials, you may not modify, copy, reproduce, republish, upload, post, transmit, translate, sell, create derivative works, exploit, or distribute in any manner or medium (including by email or other electronic means) any material from the Site. You may, however, from time to time, download and/or print one copy of individual pages of the Site for your personal, non-commercial use, provided that you keep intact all copyright and other proprietary notices. For information about requesting permission to reproduce or distribute materials from the Site, please contact us.</li>
            </ol>
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>2. ACCESS TO CERTAIN FEATURES OF THE WEBSITE</b></p>
        <p>
        To access certain features of the Website, we may ask you to provide certain demographic information including your gender, year of birth, pin code, state and country. In addition, if you elect to sign-up for a particular feature of the Site, such as discussion forums, blogs, photo- and video-sharing pages or social networking features, you may also be asked to register with us on the form provided and such registration may require you to provide information such as your name and email address. You agree to provide true, accurate, current and complete information about yourself as prompted by the Site's registration form. If we have reasonable grounds to suspect that such information is untrue, inaccurate, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Site (or any portion thereof). Our use of any information you provide to us as part of the registration process is governed by the terms of our Privacy Policy.
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>3. RESPONSIBILITY FOR USER-PROVIDED CONTENT</b></p>
        <p>
            <ol type="1">
             <li>This Site may include a variety of features, such as discussion forums, blogs, photo and video-sharing pages, email services and social networking features that allow feedback to us and allow users to interact with each other on the Site and post content and materials for display on the Site. This Site also may include other features, such as personalized home pages and email services, that allow users to communicate with third parties. By accessing and using any such features, you represent and agree: (i) that you have read and agree to abide by our Rules; (ii) that you are the owner of any material you post or submit, or are making your posting or submission with the express consent of the owner of the material; (iii) that you are making your posting or submission with the express consent of anyone pictured in any material you post or submit, (iv) that you are 18 years of age or older; (v) that the materials will not violate the rights of, or cause injury to, any person or entity; and (vi) that you will indemnify and hold harmless us, our affiliates, and each of our and their respective directors, officers, managers, employees, shareholders, agents, representatives and licensors, from and against any liability of any nature arising out of related to any content or materials displayed on or submitted via the Site by you or by others using your username and password.</li>
             <li>You acknowledge and agree that we may preserve content and materials submitted by you, and may also disclose such content and materials if required to do so by law or if, in our business judgment, such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these Terms; (c) respond to claims that any content or materials submitted by you violate the rights of third parties; or (d) protect the rights, property, or personal safety of our Site, us, our affiliates, our officers, directors, employees, representatives, our licensors, other users, and/or the public.</li>
             <li>Responsibility for what is posted on discussion forums, blogs, photo- and video-sharing pages, and other areas on the Site through which users can supply information or material, or sent via any email services that are made available via the Site, lies with each user – you alone are responsible for the material you post or send. We are not responsible for the speech, content, messages, information or files that you or others may transmit, post or otherwise provide on or through the Site.</li>
             <li>You understand that we have no obligation to monitor any discussion forums, blogs, photo- or video-sharing pages, or other areas of the Site through which users can supply information or material. However, we reserve the right at all times, in our sole discretion, to screen content submitted by users and to edit, move, delete, and/or refuse to accept any content that in our judgment violates these Terms or is otherwise unacceptable or inappropriate, whether for legal or any other reasons.</li>
            </ol>
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>4. MODIFIED TERMS</b></p>
        <p>The Company reserves the right at all times to discontinue or modify any of its Terms and/or the Privacy Policy as may be deemed necessary or desirable without prior notification to the User. Further, if the Company makes any changes to the Terms and Privacy Policy and the User continues to use the Site, the User is impliedly agreeing to the Terms and Privacy Policy expressed therein. Any such changes, deletions or modifications shall be effective immediately upon the Company’s posting thereof. Any use of the Site by the User after such notice shall be deemed to constitute acceptance by the User of such modifications.</p>
        <!--End-->
        <!-- Start-->
        <p><b>5. ​DISCLAIMERS AND WARRANTIES</b></p>
        <p>
            <ol type="1">
             <li>Throughout the Site, we have provided links and pointers to Internet sites maintained by third parties. Our linking to such third-party sites does not imply an endorsement or sponsorship of such sites, or the information, products or services offered on or through the sites. In addition, neither we nor our parent or subsidiary companies nor any of our respective affiliates operate or control in any respect any information, products or services that third parties may provide on or through the Site or on websites linked to by us on the Site.</li>
             <li>THE INFORMATION, PRODUCTS AND SERVICES OFFERED ON OR THROUGH THE WEBSITE AND ANY THIRD-PARTY SITES ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE SITE OR ANY OF ITS FUNCTIONS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT ANY PART OF THIS SITE, INCLUDING BULLETIN BOARDS, OR THE SERVERS THAT MAKE IT AVAILABLE, ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT ACCESS TO DATA STORED BY YOU OR OTHERS ON THE SERVICE IS NOT GUARANTEED AND THAT WE SHALL NOT BE RESPONSIBLE TO YOU FOR ANY LOSS OF DATA CAUSED BY THE SERVICE OR ITS UNAVAILABILITY.</li>
             <li>WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE OR MATERIALS ON THIS SITE OR ON THIRD-PARTY SITES IN TERMS OF THEIR CORRECTNESS, ACCURACY, TIMELINESS, RELIABILITY OR OTHERWISE.</li>
             <li>YOU ACKNOWLEDGE THAT THE PROVISIONS OF THIS SECTION ARE A MATERIAL INDUCEMENT AND CONSIDERATION TO US TO GRANT THE LICENSE CONTAINED IN THIS TERMS AND TO PROVIDE YOU WITH ACCESS TO THE SITE AND SERVICES.</li>
             <li>You must provide and are solely responsible for all hardware and/or software necessary to access the Site. You assume the entire cost of and responsibility for any damage to, and all necessary maintenance, repair or correction of, that hardware and/or software.</li>
             <li>You acknowledge that by using the Site, you may incur charges from your wireless carrier, internet service provider or other method of internet or data access, and that payment of any such charges will be your sole responsibility. You agree that your use of the Site will be in accordance with all requirements of your wireless carrier, internet service provider and other method of internet or data access. We do not control network access. Your use of these networks may not be secure and may expose your personal information sent over such networks.</li>
             <li>The Site is provided for informational purposes only, and is not intended for trading or investing purposes, or for commercial use. The Site should not be used in any high risk activities where damage or injury to persons, property, environment, finances or business may result if an error occurs. You expressly assume all risk for such use.</li>
             <li>Your interactions with companies, organizations and/or individuals found on or through our Site, including any purchases, transactions, or other dealings, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such companies, organizations and/or individuals. You agree that we will not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings. You also agree that, if there is a dispute between users of this Site, or between a user and any third party, we are under no obligation to become involved, and you agree to release us and our affiliates from any claims, demands and damages of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such dispute and/or our Site.</li>
            </ol>
        </p>
         <!--End-->
        <!-- Start-->
        <p><b>6. ​LIMITATION OF LIABILITY</b></p>
        <p>UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, WILL WE OR OUR SUBSIDIARIES, PARENT COMPANIES OR AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THIS SITE, INCLUDING ITS MATERIALS, PRODUCTS, OR SERVICES, OR THIRD-PARTY MATERIALS, PRODUCTS, OR SERVICES MADE AVAILABLE THROUGH THIS SITE, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT WE ARE NOT LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER. IF YOU ARE DISSATISFIED WITH THE SITE, OR ANY MATERIALS, PRODUCTS, OR SERVICES ON THE SITE, OR WITH ANY OF THE SITE'S TERMS AND CONDITIONS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>
        <!--End-->
        <!-- Start-->
        <p><b>7. ​INDEMNIFICATION</b></p>
        <p>You agree to indemnify and hold harmless us, our affiliates, and each of our and their respective directors, officers, managers, employees, shareholders, agents, representatives and licensors, from and against any and all losses, expenses, damages and costs, including reasonable attorneys' fees, that arise out of your use of the Site, violation of these Terms by you or any other person using your account, or your violation of any rights of another. We reserve the right to take over the exclusive defense of any claim for which we are entitled to indemnification under this section. In such event, you agree to provide us with such cooperation as is reasonably requested by us.</p>
        <!--End-->
        <!-- Start-->
        <p><b>8. ​​RESTRICTIONS</b></p>
        <p>
        The User shall not be permitted or allowed to perform the following activities:
            <ol type="1">
             <li>remove any copyright, trademark or other proprietary notices from any portion of the Content;</li>
             <li>reproduce, modify, prepare derivative works based upon, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Content except as expressly permitted by the Company;</li>
             <li>decompile, reverse engineer or disassemble the Content except as may be permitted by applicable law;</li>
             <li>link to, mirror or frame any portion of the Content;</li>
             <li>cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any portion of the Content or unduly burdening or hindering the operation and/or functionality of any aspect of the Content; or</li>
             <li>attempt to gain unauthorized access to or impair any aspect of the Content or its related systems or networks.</li>
             </ol>
        </p>
         <!--End-->
        <!-- Start-->
        <p><b>9. ​​​INTELLECTUAL PROPERTY RIGHTS</b></p>
        <p>
            <ol type="1">
                 <li>The Company is the sole owner or lawful licensee of all the rights to the website and its content. Website content shall mean its design, layout, text, images, graphics, sound, video etc. The website content embodies trade secrets and intellectual property rights protected under worldwide copyright and other laws. All title, ownership and intellectual property rights in the web site and its content shall remain with the Company, its affiliates or licensor's of the Company's content, as the case may be.</li>
                 <li>All rights, not otherwise claimed under these Terms are hereby reserved. The information contained in this Site is intended, solely to provide general information for the personal use of the User, who accepts full responsibility for its use. The Company does not represent or endorse the accuracy or reliability of any information, or advertisements or Content contained on, distributed through, or linked, downloaded or accessed from any of the Content contained on this Website, or the quality of any products, information or other materials displayed, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the Content.</li>
                 <li>The User shall not upload post or otherwise make available on the Site any material protected by copyright, trademark, patent, proprietary rights or any other intellectual property rights, without the express permission of the owner of the copyright, trademark, proprietary right or other intellectual property rights.</li>
                 <li>​The Company does not have any express burden or responsibility to provide the User with indications, markings or anything else that may aid the User in determining whether the material in question is copyrighted or trademarked.</li>
                 <li>The User shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission.</li>
                 <li>By submitting material to any public area of the Site, the User warrants that the owner of such material has expressly granted the Company the royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material.</li>
                 <li>The User hereby grants the Company, the right to edit, copy, publish and distribute any material made available on the Site by the User.</li>
                </ol>
        </p>
        <p><b>10. ​​​TRADEMARK</b></p>
        <p>
            <ol type="1">
                 <li>All related icons and logos are registered trademarks or trademarks or service marks of the Company in various jurisdictions and are protected under applicable copyright, Trademark and other proprietary rights laws. The unauthorized copying, modification, use or publication of these marks is strictly prohibited.</li>
                 <li>The trademarks, logos and service marks ("<b>Marks</b>") displayed on the Site are the property of the Company and other respective persons. The User is prohibited from using any Marks for any purpose including, but not limited to use as metatags on other pages or sites on the World Wide Web without the written permission of the Company or such third party which may own the Marks.</li>
                 <li>​Trademarks that are located within or on the Site or a website otherwise owned or operated in conjunction with the Company shall not be deemed to be in the public domain but rather the exclusive property of the Company, unless such site is under license from the trademark owner thereof, in which case such license is for the exclusive benefit and use of the Company, unless otherwise stated.</li>
                </ol>
        </p>
        <p><b>11. ​​​MISCELLANEOUS</b></p>
        <p>
            <ol type="1">
                 <li>If any of these conditions are deemed invalid, void, or for any reason unenforceable, the parties agree that the court should endeavour to give effect to the parties’ intentions as reflected in the provision, and the unenforceable condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</li>
                 <li>​The Terms and the relationship between the User and the Company will be governed by the laws as applicable in India.</li>
                 <li>​Any disputes will be handled in the competent courts of Hyderabad, Telangana, India.</li>
                 <li>​The failure of the Company to act with respect to a breach by the User or others does not waive its right to act with respect to subsequent or similar breaches.</li>
                 <li>Except as otherwise, expressly provided in these Terms, there shall be no third-party beneficiaries to the same. These Terms constitute the entire agreement between the User and the Company and governs the User’s use of the Site, superseding any prior agreements between the User and the Company with respect to the Site.</li>
                </ol>
        </p>
    </div>
</div>

                      <!--Privacy Policy-->


                      <!--// Privacy Policy-->


<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
