@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "products";
@import "stores";
@import "profile";
@import "font-awesome";
@import "blogs";
@import "animate";

@font-face {
    font-family: 'ClanPro';
    src: font_url('ClanPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima-Nova';
    src: font_url('Proxima-Nova.ttf') format('truetype');
}
body, html
{
	font-family: 'Proxima-Nova';
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #78909C;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#location_error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #78909C;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
}

#location_error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 10s;
    animation: fadein 0.5s, fadeout 0.5s 10s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@media (min-width: 601px)
{
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
.loader {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://s3.ap-south-1.amazonaws.com/mapprr/marker.gif') 50% 50% no-repeat rgb(249,249,249);
}
@media screen and (max-width: 420px){
    div.media_links p
    {
        display:inline-block;
        padding:5px 10px;
    }
}