body.p_bg
{
	/*background-color:#fcfcfc;*/
}
.p_user_login
{
  text-transform: capitalize;
  line-height:30px;
  font-size:14px !important;
  cursor:pointer;
}
.p_user_login:hover
{
  text-decoration: none;
}
nav.productnav
{	
	margin-bottom:7px;
	border:0px;
	border-radius:0px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
background-color:#ffffff;
}
a.p-location span#geolocation
{
	line-height:30px;
	vertical-align:middle;
  font-size:16px;
}
a.p-location
{
	text-decoration:none;
	color:#757575;
  cursor:pointer;
}

.searchbox-input2
{
	width:450px;
	height: 42px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	margin:auto;
	border: 0px;
	border-radius: 1px;

-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
input[type="text"].searchtxt2
{
	width:450px;
	height: 42px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	margin:auto;
	border: 0px;
	border-radius: 0px;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}
button.searchbtn2
{
	height: 42px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	margin:auto;
	border: 0px;
	border-radius: 1px;
  background-color:#1e88e5;
  color:#ffffff;
}
button.searchbtn2:hover
{
	background-color:#50c3f8;
	color:#ffffff;
}

.empty-state
{
  background-color:#fff;
  height:100vh;
}
.card
  {
    width: 100%;
    height:250px;
  }
@media screen and (min-width: 690px) {
  .first_char
  {
    font-size:60px;
    text-align:center;
    padding:15px 30px;
    border-radius: 50px;
    width:120px;
    margin:7px auto;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.09);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.09);
  }
  .first_char_div
  {
  height:160px;
  display: block;
  padding-top: 10px;
  }
  .first_char_div .card-img-top.product_img
  {
  max-height:150px;
  max-width:150px;
  }
}
@media screen and (max-width: 689px) {

.pro_nav {
    display:flex;
    align-self: flex-start;
    flex-flow: column;
}
.two{
    order:1;
}
.three {
    order:2;
}

.search_f
{
  margin-top: 7px;
}
.col-xs-7.loc_m
{
  padding-left: 0px;
  padding-right: 7px;
}
a.p-location
{
float:right;
  text-decoration:none;
  color:#757575;
width:160px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 100%;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.first_char_div
  {
  height:148px;
  display: block;
  padding-top: 10px;
  }
  .first_char_div .card-img-top.product_img
  {
  max-height:140px;
  max-width:140px;
  }
/*.product_img
{
  width:90%;
}*/
.first_char
{
  font-size:55px;
  text-align:center;
  padding:9px 25px;
  border-radius: 50px;
  width:100px;
  margin:7px auto;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.09);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.09);
}

a.p-location span#geolocation
{
  line-height:25px;
  vertical-align:middle;
  font-size:14px;
}
.logo img
{
  width:150px;
}
.empty-state
{
  background-color:#fff;
  height:100%;
}
.empty-state img
{
      display: block;
    max-width: 100%;
    height: auto;
}
  .searchbox-input2
  {
    width:100%;
    height: 42px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin:auto;
    border: 0px;
    border-radius: 1px;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
  input[type="text"].searchtxt2
  {
    width:100%;
    height: 42px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin:auto;
    border: 0px;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  }
}
@media (min-width: 570px) and (max-width: 767px) {
  div.productcard
  {
    width:50%;
    float: left;
  }
}

.loc_m .p-location
{
  max-width:100%;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
/* ------grid------- */
.pro-grid{
    position: relative;
    min-height: 1px;
    padding-left: 3px;
    padding-right: 3px;
}
.pro-fgrid{
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
}
.pro-fgrid .list-group-item:first-child, .panel, .pro-fgrid .list-group-item:last-child,
{
	border-radius: 0px; 
}
.grid-bg{
    background-color:#ffffff;
    border: 1px solid #f7f7f7;
        min-height: 81vh;
}


.pcard-block
{
	padding: 0px 10px;
}
.full_card
{
  padding:6px;
  background-color:#fff;
  width:100%;
}
div.productcard
{
	padding-right:0px;
	padding-left:0px;
	/*border:1px solid #f7f7f7;*/
  text-align: center; 


	transition: 0.4s;
}
div.productcard:hover
{
	-webkit-box-shadow: 0px 2px 7px 2px rgba(189,189,189,0.4);
	-moz-box-shadow: 0px 2px 7px 2px rgba(189,189,189,0.4);
	box-shadow: 0px 2px 7px 2px rgba(189,189,189,0.4);
  transform:scale(1.06);
}

h4.pcard-title
{
	color:#212121;
	font-weight:600;
	letter-spacing:1px;
	font-size:14px;
	line-height:20px;
	text-transform: capitalize;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 100%;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
p.pcard-text
{
	color:#4CAF50;
	font-weight:600;
	letter-spacing:0.7px;
	font-size:10px;
	text-transform: capitalize;

		overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 100%;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.card-img-top
{
	margin:5px auto;
}


/************************ Side Nav*****************/

nav.sidebar ul li a
{
	color:#9e9e9e;
	font-weight:300;
	font-size:16px;
}
.list-sub-item
{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    color:#9e9e9e;
    border: 0px;
}
.list-group-item
{
  border:1px solid #eee;
  padding:12px 12px 15px 12px;
}
.list-group-item b
{
  line-height:25px;
}
.list-group
{
    margin-bottom: 0px;
    padding-left: 0;
}
.add-filter {
    font-size: 12px;
    color: #fff;
    line-height: 1.17;
    margin:3px;
    border-radius: 1px;
    background-color:#2196f3;
    padding: 5px 10px;
    display:inline-block;
    }
.filters
{
  display:block;
  height:100%;
}
.cross-icon {
    margin-left: 5px;
    cursor:pointer;
}
.filter
{
	padding:15px;
	line-height: 20px;
	letter-spacing:0.7px;
	color:#263238;
	font-weight:400;
	font-size:16px;
}
.dropdown-menu > li > a 
{
	    padding: 15px 20px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #1e88e5;
    color: #ffffff;
}
.p_user_dropdown
{
  margin:0px;
  left: auto;
    right: 0;
}

 @media (min-width: 765px) {

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
    }
    
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      min-width:0px;
      margin: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      height: 100%;
      float: left;
      margin:0px;
    }

    nav.sidebar li {
      width: 100%;
    }
  }
/************** Login Css *************/

input.login-form:focus {
	border:1px solid #1e88e5;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	/*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}

div#otp_form, div#dob_form
{
	display:none;
}
a.list-group-item:hover, a.list-group-item:focus, button.list-group-item:hover, button.list-group-item:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #42A5F5;
}
.dropdown-toggle
{
	color:#757575 !important;
}

.hide
{
  display:none;
}
.show
{
  display:inline-block;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  position:fixed;
  bottom:10%;
  right:10%;
  z-index:999;
  background-color:#1e88e5;
  color:#ffffff;
}
.f_close
{
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.filt
  {
    display:none;
  }
  @media screen and (min-width: 768px) {

  .filt
  {
    display:block;
  }
  .bg
  {
    display:none;
  }
  .filtb
  {
      display:none;
  }
}
@media screen and (max-width: 767px) {
.filtb
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display:block;
}
  .filt
  {
    position:fixed;z-index:9999;display:none;bottom:10%;transition: opacity 250ms; width:90%;margin:0px auto;
  }
}

/*** carousel slider****/
 .rShow_div
  {
  height:140px;
  display: block;
  padding-top: 7px;
  }

div.relatedCard
{
  padding-right:0px;
  padding-left:0px;
  /*border:1px solid #f7f7f7;*/
  text-align: center; 
  transition: 0.4s;
}
div.relatedCard:hover
{
 /*outline: #ccc solid 1px;
 transition: background 0.3s ease-out;*/
 -webkit-box-shadow: 0px 3px 7px 3px rgba(221,221,221,0.7);
-moz-box-shadow: 0px 3px 7px 3px rgba(221,221,221,0.7);
box-shadow: 0px 3px 7px 3px rgba(221,221,221,0.7);
  transform:scale(1.02);
  cursor:pointer;

}
.rCard
  {
    width: 100%;
    height:220px;
  }

.owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    top: calc(100% /2 - 38px);
    transition: background 0.2s ease-out;
}
.owl-nav .owl-next {
    right: 0;
}
.owl-nav .owl-prev {
    left: 0;
}
.owl-carousel .owl-item img.slider
{
  display:block;
  width: 100%;
}
.owl-carousel .owl-item img.imageIn
{
  display:block;
  max-width: 120px;
  max-height: 120px;
  width:auto;
}
.owl-carousel .owl-item img.noImage
{
  display:block;
  max-width: 90px;
  max-height: 75px;
  margin-top:25px;
  width:auto;
}
.owl-nav {
  margin-top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-nav [class*='owl-'] {
    color: #848484;
    width:48px;
    font-size: 22px;
    margin: 3px 7px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
    display: inline-block;
    cursor: pointer;
    border-radius: 50px; }
  
  @media (min-width :768px) {
      .owl-nav [class*='owl-']{
          padding: 9px 9px;
      }
      
  }
   @media (max-width :767px) {
      .owl-nav [class*='owl-']{
          padding: 8px 8px;
      }
      
  }
   
.owl-nav [class*='owl-']:hover {
      background: #1e88e5;
      color: #FFF;
      text-decoration: none; }
.owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
    
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

.age-modal {
  margin: 0;
  padding: 0;
}
.modal-body {
    width: 100%;
    min-height: 900px;
    border-radius: 0;
    overflow: hidden;
}
.age-form{
  margin: auto;
  margin-top: 15%;
}
.age-form img{
  margin: auto;
}
.age-form .age-buttons{
  margin-left: 38%;
}
.age-form button{
  margin: 10px;
}
.age-text{
  margin: auto;
  margin-top: 15%;
}