body.s_bg
{
	background-color:#fefefe;
}

.storeimg
{
position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.card-block
{
	padding:10px;
}
.store-title-sub
{
	color:#263238;
	font-weight:600;
	letter-spacing:1px;
	font-size:12px;
	line-height:20px;
}

@media screen and (min-device-width:992px){
	.storeimg img
	{
		width:90%;
	}
}
@media screen and (min-device-width:768px) and (max-device-width: 991px) {
	.storeimg img
	{
		width:40%;
	}
}
@media screen and (min-device-width:481px) and (max-device-width: 767px) {
	.storeimg img
	{
		width:27%;
	}
}
@media screen and (max-device-width: 480px) {
	.storeimg img
	{
		width:40%;
	}
	.store-card.row
	{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
	}
}
h4.store-title
{
	color:#263238;
	font-weight:600;
	letter-spacing:1px;
	font-size:16px;
	/*line-height:20px;*/
	text-transform: capitalize;

	/*overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 100%;      
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;*/
}
h4.store-title span.titleonly
{
	max-width: 79%;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
p.store-address
{
	color:#9e9e9e;
	font-weight:300;
	letter-spacing:0.6px;
	font-size:12px;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-width: 100%;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
div.filter-s
{
	color:#263238;
	font-weight:300;
	letter-spacing:1px;
	padding:15px 10px;
	font-size:16px;
	width:100%;
	margin:0px;
}
div.filter-sub
{
	color:#9e9e9e;
	font-weight:300;
	letter-spacing:1px;
	padding:15px 10px;
	font-size:14px;
	width:100%;
	margin:0px;
}
.dropdown-toggle
{
	color:#9e9e9e;
	font-weight:300;
	letter-spacing:1px;
	font-size:16px;
}
div.store-location a.btn-default
{
	border-color:#1e88e5;
	padding:6px 10px;
	border-raidus:2px !important;
	font-size:12px;
	line-height:1.5;
}
div.store-location a.btn-default:hover, div.store-location a.btn-default:focus
{
	background-color:#fafafa;
}
div.store-location a.btn-default p
{
	margin:0px;
	color:#1e88e5;
}
.card-block .actions
{
	padding:0px;
}
button.distance-btn
{
	background-color:#64B5F6;
	color:#ffffff;
	font-weight:300;
	letter-spacing:1px;
	border-raidus:2px;
	min-height:45px;
	padding:6px 25px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
	box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
}
button.active-btn
{
	background-color:#1e88e5;
	color:#ffffff;
	font-weight:300;
	letter-spacing:1px;
	border-raidus:2px;
	min-height:45px;
	padding:6px 25px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
	box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
}
.map
{
	margin:20px 4px 10px 4px;
	background-color: grey;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
	box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.5);
}
 #map {
        width: 100%;
        height: 300px;
      }
div.store-card
{
	padding-right:0px;
	padding-left:0px;
	border:1px solid #f7f7f7;
	background-color:#ffffff;
	transition: 0.6s;

	-webkit-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.3);
	box-shadow: 0px 0px 3px 0px rgba(189,189,189,0.3);
}
.store-card.row
{
	margin-left: 0px;
    margin-right: 0px;
}
.empty_state
{
	color:#757575;
	letter-spacing:1px;
	text-transform:capitalize;
}
/* ------grid------- */
.store-grid{
    position: relative;
    min-height: 1px;
    padding: 5px;
}
.fa-lg.bookmark
{
    font-size: 1.2em;
    line-height: 1em; 
    vertical-align: -15%; 
    /*background-color: rgba(255,255,255,0.9);*/
    color:#ef5350;
    /*padding: 9px;
    border-radius: 50px;*/
}
.bookmark
{
	/*position:absolute;
    right:12px;
    top:12px;*/
    color:#ffffff;
    cursor:pointer;
}
.breadcrumb {
    padding: 12px 15px;
    margin-bottom: 8px;
    list-style: none;
     background-color: transparent; 
    border-radius: 0px; 
}
.store-card.affix {
  top: 0px;
  position:fixed;
}

.affix {
      top: 3px;
      float:right;
  }
#mapview
{
	min-height:300px;
}