<% content_for :head do %>
    <title>Mapprr | Product availability in stores around you</title>
    <meta name="description" content="Get medicines, groceries, and electronic product stores through barcode scanner or product search and know where the product is available at your nearby location through Mapprr.">
    <meta name="keywords" content="products availability, product list, Search for product availability, Stores near by you ">
<% end %>
<script>
  $(document).ready(function(){
//Apply Color
    var color; 
    var letters = ['42a5f5','ffca28','bdbdbd','ef5350','66bb6a','FF7043','AB47BC','7E57C2']; 

    var x= document.getElementsByClassName("first_char");
    var i;
    for(i=0;i<x.length;i++)
    {
        color="#";
        color += letters[Math.floor(Math.random() * letters.length)];
        x[i].style.color = color;
    }

  //search box
    var query = window.localStorage.getItem("search_query");
    $("#search_query").val(query);
    $("form#p_form").submit(function(e){
      gtag_report_conversion();
      window.localStorage.removeItem("search_query");
        var search = $("#search_query").val();
        window.localStorage.setItem("search_query", search);
        e.preventDefault();
        window.location.href = '/products?product='+search;
      });

    var plocation = window.sessionStorage.getItem("slocation");
      if (plocation == null)
      {
      
          detectLocation();
      }
      else
      {
          $("#geolocation").html(plocation);

      }

    var latlong = window.sessionStorage.getItem("latlng");
    var user = window.localStorage.getItem("user");
    var pincode = window.sessionStorage.getItem("pincode");
 //category selection
    var splitUri = window.location.href.split("&categories=");
    // debugger
    if (splitUri.length > 1) {
      ids = splitUri[1];
      var idArray = ids.split(",");
      $.each(idArray, function(index, idx){
        // debugger
        var obj = $("#"+idx+" [name='sub_category']");
    
        obj.prop("checked", true);
        var split_parent_class = obj.parent().attr("class").split("_");
        if(split_parent_class.length > 1){
          class_id = split_parent_class[2];
          $("#image_f"+class_id).addClass("show");
        }
        else
        {
          class_id = split_parent_class[2];
          //$("#image_f"+class_id).addClass("hide");
          $("#image_"+class_id).addClass("show");
        }
        
      });
      
    }
    else{
       //$("#image_"+subCatid).addClass("show");
    }

  var params = new URLSearchParams(document.location.search.substring(1));
  var categories = params.get("categories");
  if(parseInt(categories) >0)
  {
  var splitCat = categories.split(",");
    $.each(idArray, function(index, idx){
      var subCat = $("#"+idx+" span").text();
     $(".filters").append("<span class='add-filter'>"+ subCat+ "<i class='fa fa-close cross-icon'></i></span>");
     //sub category cancel 
     $(".add-filter .cross-icon").click(function(){
      //debugger
        if (this.parentElement.childNodes[0].nodeValue == subCat)
          {
            $("#"+idx+" [name='sub_category']").prop("checked", false);
            $(this.parentElement).remove();
            var ids = $('input[name="sub_category"]:checked:checked').map(function() {
                    return this.parentElement.id;
                }).get();
                if (ids.length > 0)
                {
                  var url= baseUri + '&categories=' + ids.join(",");
                  window.location=url;
                }
                else
                {
                  window.location= baseUri;
                }
          }
        });

    }); 
  }
  else
  {
  $(".filters").html("");
  }

  var pageURL = $(location).attr("href");
  baseUri = pageURL.split("&")[0]

  $(".sub_category").click(function(){ 

 // sub category id
    var ids = $('input[name="sub_category"]:checked:checked').map(function() {
      //debugger
        return this.parentElement.id;
    }).get();
    if (ids.length > 0)
    {

      var url= baseUri + '&categories=' + ids.join(",");
      window.location=url;
    }
    else
    {
      window.location= baseUri;
    }
    });


  //login if click a product
  $(".storelocation").click(function(e){
    var id = this.id.split("-")[0];
    var sub_category = parseInt(this.id.split("-")[1]);
    var latlong = window.sessionStorage.getItem("latlng");
    var pincode = window.sessionStorage.getItem("pincode");
    var user_id = window.localStorage.getItem("user");
    var age_verified = window.localStorage.getItem("age_verified");
    var age_restriction_subcategories = [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73];
    if(age_restriction_subcategories.includes(sub_category) && !(age_verified))
    {
      var modal = document.getElementById('myModal');
      modal.style.display = "block";
      window.localStorage.setItem("age_verified", true);
      $(".age-accepted").click(function(){
        modal.style.display = "none";
      if(latlong == null)
      {
        // alert("Select your location");
        var x = $("#location_error")
        x.addClass("show")
          .html('Your location could not be determined.');
          setTimeout(function() {
             x.removeClass("show");
         }, 7000);
      }
      else
      {
      window.localStorage.setItem("id", id );
      var search_query2 = $("#" + id+ " .pcard-title").text();
      window.localStorage.setItem("search_query2", search_query2 );
  	  if (user == null){
        window.location.href = "/stores?query=," + id + "," + latlong + ",5," + pincode;
  	   }
  	  else{
  	  	
  		  window.location.href = "/stores?query=" + user_id + "," + id + "," + latlong + ",5," + pincode;
  		 }
      }
    });
    }
    else{
      if(latlong == null)
      {
        // alert("Select your location");
        var x = $("#location_error")
        x.addClass("show")
          .html('Your location could not be determined.');
          setTimeout(function() {
             x.removeClass("show");
         }, 7000);
      }
      else
      {
      window.localStorage.setItem("id", id );
      var search_query2 = $("#" + id+ " .pcard-title").text();
      window.localStorage.setItem("search_query2", search_query2 );
      if (user == null){
        window.location.href = "/stores?query=," + id + "," + latlong + ",5," + pincode;
       }
      else{
        
        window.location.href = "/stores?query=" + user_id + "," + id + "," + latlong + ",5," + pincode;
       }
      }
    }
    $(".age-declined").click(function(){
      modal.style.display = "none";
    })
  });


  $(".sugg_query").click(function(){
    var suggested_query = this.text;
  window.location.href = '/products?product='+suggested_query;
  });


      
});
</script>
<div class="p_bg">

	<div class="container-fluid" style="background-color: #fafafa;">
		<div class="container text-right">
			<div class="upper-links">
        <span class="p_user_login" id="user_login"></span>
        <ul class="p_user_dropdown dropdown-menu">
          <li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>
          <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
          <li id="logout" class="profile-li"><a class="profile-links" href="">Logout</a></li>
        </ul>
      </div>
		</div>
	</div>

  <nav class="navbar navbar-light productnav" role="navigation">
    <div class="container" style="margin:18px auto;padding-left: 0px;padding-right: 0px;">
      <div class="navbar-left col-sm-6 col-md-3 col-xs-5 logo"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %> </a></div>

      <div class="col-sm-6 col-md-3 col-xs-7 col-sx-push-0 col-md-push-6 loc_m text-right" style="margin-top: 15px;">
        <div style="width:100%;">
          <a class="p-location" data-toggle="dropdown"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %> <span id="geolocation">Choose your location</span></a>

          <ul class="dropdown-menu c_loc" role="menu" style="border: 0;border-radius: 0;margin: 0;padding: 15px 7px;position: absolute;top: 100%;right: 0;left:auto;">
            <li class="dropdown-header" style="color: #263238;  ">Select Location</li>
            <li id="profile" class="profile-li" style="padding:7px 12px;">
              <form id="mform" method="post" action="javascript:;" data-toggle="validator" role="form">

                <div class="input-group" style="border:1px solid #bdbdbd;">
                  <input id="m_loc" type="text" class="f-control" placeholder="Type your location..." style="border:0px; min-width: 250px" />
                  <span class="input-group-btn" style="border-left: 1px solid #bdbdbd;padding:1px;">
                    <button class="btn btn-secondary" id="detect_loc" type="button" style="background-color: #fff;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %></button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>

      <!--     <div class="three"> -->
	  	<div class="col-sm-12 col-md-6 col-xs-12 col-sx-pull-0 col-md-pull-3 search_f " style="margin-top: 7px;">
	  		<form action="<%= products_path() %>" method="POST" id="p_form">
	  	    <div class="input-group searchbox-input2">
            <input type="text" id="search_query" name="product" class="form-control searchtxt2" placeholder="What are you looking for?" autocomplete="off" required="true">
  			    <div class="input-group-btn">
  			      <button class="btn btn-default searchbtn2" type="submit">
  			        <i class="glyphicon glyphicon-search"></i>
  			      </button>
  			    </div>
          </div>
		    </form>
			</div>
      <!--  </div> -->


    </div>
	</nav>


	<div class="container">
	<!--start pro-8(product list)-->
    <% if not @products.present? %>
      <div class="col-md-12 text-center empty-state">
        <div class="empty_state text-left" style="margin-top: 15px;">Did you mean: <i style="font-size: 16px;">
          <% @suggested_query.join(",$").split("$").each do |query| %>
            <a class="sugg_query" style="text-decoration: underline; color:#1e88e5; cursor: pointer;"><%= query %></a>
            <% end %>
          </i></div>
        <%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_state2.png", :class => "card-img-top", :height => "52%", :alt => "Store image") %>
        <h4 class="empty_state">Oh...! No products available.</h4>
      </div>
    <% elsif @products == "404" %>
      <div class="col-md-12 text-center empty-state">
        <%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_state2.png", :class => "card-img-top", :height => "52%", :alt => "Store image") %>
        <h4 class="empty_state">Page isn't enough to show all our products. Please search for a specific product.</h4>
      </div>
    <% else %>
      <div class="bg" style="transition: opacity 250ms;width:100%;height: 100%;position: fixed;top:0;left:0;background-color: rgba(0,0,0,0.5);z-index: 999;display: none;"></div>
      <div class="col-md-9 col-sm-9 pro-grid">
	<!-- products row 1-->
      	<div class="grid-bg">
      		<div class="row">
             
      			<div class="col-sm-12 col-md-12">
              <div class="full_card">
                <% @products.each do |p| %>
      				    <div id="<%= "#{p['id']}" + "-" + "#{p['sub_category_id']}" %>" class="storelocation" style="cursor:pointer;">

            				<div class="col-xs-6 col-sm-4 col-md-3 productcard" style="padding-top: 9px;padding-bottom: 9px;">
            				  <div class="card" style="">
            				    <div class="text-center">
                        <!-- <div style="height:150px;"><p class="first_char"><%= p['name'].first %></p></div> -->
            				      <% if p['image_url'].present? %>
                            <div class="first_char_div" style="">
                  						<%= image_tag( "#{p['image_url']}", :class => "card-img-top product_img", :alt => "Product image") %>
                            </div>
                  				<% else %>
                  					<div class="first_char_div" style=""><p class="first_char"><%= p['name'].first.capitalize %></p></div>
                  				<% end %>
                  					
                  			</div>	
            					  <div class="pcard-block">
            					    <h4 class="pcard-title"><%= p['name'] %></h4>
            					    <p class="pcard-text"><%= p['brand'] %></p>
            					  </div>
            					</div>
            				</div>
      				    </div>
                <% end %>        
      		    </div>
            </div>
      		</div>
        </div>
	<!--end list-->
      </div>


	<!--end pro-8(product list)-->
		<!--start pro-4(filters)-->
      <button type="button" class="btn btn-circle btn-lg filtb hidden-lg hidden-sm"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>



    	<div class="col-sm-3 col-md-3 pro-fgrid col-xs-12 f_mobile filt">
        <ul class="list-group filter_m">
          <li class="text-right hidden-lg hidden-sm hidden-md" style="list-style-type: none;display: inline-block;width: 100%;"><i class="fa fa-close f_close"></i></li>
        	<li class="list-group-item list-group-item-action text-center" style=""><b style="font-size: 16px;">Filters</b><br/><span class="filters text-left"></span>
          </li>

          <% @categories.each do |c| %>
      	    <li class="list-group-item category" style="cursor:pointer;"><b style="display:block;" data-toggle="collapse" data-target="#<%= c['id'] %>"><%= c['name'] %> <span class="text-right category_icon plain" style="vertical-align: middle; float: right;line-height: -10px;"><%= image_tag( "#{c['filled_image_url']}", :alt => "Category image", :height => "29px", id: "image_f#{c['id']}", :class => "hide") %><%= image_tag( "#{c['plain_image_url']}", :alt => "Category image", :height => "29px", id: "image_#{c['id']}", :class => "hide") %></span></b>
      	    
        	    <ul class="list-group sub-menu collapse" id="<%= c['id'] %>">
        	    	<% 	c['sub_categories'].each do |sc| %>
        	      <li style="display:block;" class="list-sub-item checkbox"><label class="sub_category cat_<%= c['id'] %>" id ="<%= sc['id'] %>"><input type="checkbox" name="sub_category">  <span><%= sc['name'].capitalize %></span></label></li>
        	      <% end %>
        	    </ul>
          <% end %>
          </li>
        </ul>
    	</div>
    <% end %>
  </div>
</div>
<div id="myModal" class="modal" role="dialog" style="opacity: 1;">
    <div class="age-modal">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="age-form">
            <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %>
            <h3 class="text-center">DO YOU BEAR THE LEGAL DRINKING AGE ??</h3>
            <div class="age-buttons">
              <button class="age-accepted btn btn-primary btn-lg col-md-2">YES</button>
              <button class="age-declined btn btn-danger btn-lg col-md-2">NO</button>
            </div>
          </div>
          <h5 class="text-center age-text">By entering this site, you are agreeing to our Terms & Conditions, Privacy Policy and by continuing to browse this site you are agreeing to accept our use of cookies. Mapprr endorses responsible and moderate drinking. Please share responsibly and do not forward this content on to anyone who is under the legal drinking age in their country of residence. Mapprr ® Product of Bharathi Tech Services. Mapprr logo designs are trademarks owned by Bharathi Tech Services Pvt. Ltd. ©2017  All rights reserved. Enjoy responsibly.</h5>
        </div>
      </div>

    </div>
  </div>
<div id="snackbar"></div>


<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
      var plocation = window.sessionStorage.getItem("slocation");
    

    //location icon click then auto dectect location
    $("#detect_loc").click(function(){
            $('.loader').fadeOut();
                detectLocation();
            $("#m_loc").val(plocation);
          });


      
      $('.filtb').click(function(){
        $(".filt").show();
        $('.bg').show();
        $("li.text-right i.f_close").show();
        });
$("li.text-right i.f_close").click(function(){
        $(".filt").hide();
        $(".bg").hide();
        $("li.text-right i.f_close").hide();

      });
</script> 
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUpobR20JfD78lRFdkVU2VV1joDsBVjA&libraries=places&callback=initAutocomplete">
</script>