<!-- Login Model -->
<script async src="/assets/bootstrap-datepicker.js"></script>
<div class="modal fade" id="login-model" tabindex="-1" role="dialog" labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#ffffff;">&times;</button>
                <h4 class="modal-title text-center" id="modal-title">Login to access your account</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--rigestration Start-->
                    <div class="col-md-12">
                        <div id="loginForm">
                            <p class="text-center" style="padding:10px 0px;font-size:14px;">Enter your mobile number and get OTP.</p>
                            <form id="login_submit" method="post" action="javascript:;" data-toggle="validator" role="form">
                                <div class="form-group fg" style="margin:20px 0px;position: relative;">
                                 <!--  <i class="fa fa-mobile fa-2x hidden-xs" aria-hidden="true" style="color:#757575;position: absolute;top: calc(50% - 0.5em);left:21%;"></i> -->
                                    <input type="tel" maxlength="10" minlength="10" class="login-form" id="mobile" name="mobile" value="" required="" title="Enter Mobile number" placeholder="Enter Mobile number" required="true" pattern="[7-9]{1}[0-9]{9}" style="letter-spacing: 1px;">
                                    <p class="text-center"><i style="display:none;" class="fa fa-spinner fa-pulse fa-fw loading"></i></p>
                                </div>

                                <div class="checkbox">
                                    <p class="text-center" style="padding:10px 0px; font-size:12px;">By Signing in you agree to our <a href="/privacy" target="_blank" style="color:#1e88e5;">Privacy Policy</a> & <a href="/terms" target="_blank" style="color:#1e88e5;">Terms & Conditions</a>.</p>
                                </div>
                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Get OTP</button>
                                </div>
                            </form>
                        </div>
                        <!-- OTP form -->
                        <div id="otp_form">
                            <p class="text-center" style="padding:10px 0px;font-size:14px;">OTP has been sent to <span id="mob-num"></span> <span id="edit_num" style="cursor: pointer; color:#1e88e5;">Edit</span></p>
                            <form id="otp_submit" method="post" action="javascript:;" data-toggle="validator" role="form">
                                <div class="form-group" style="margin:20px 0px;position: relative;">
                                  <!-- <i class="fa fa-hourglass-half" aria-hidden="true" style="color:#757575;position: absolute;top: calc(50% - 0.5em);left:21%;"></i> -->
                                    <input type="text" class="login-form" id="otp" maxlength="6" minlength="6" name="otp" value="" required="" title="Enter OTP" placeholder="Enter OTP" style="letter-spacing: 3px;" autocomplete="off">
                                    <p id="help-block" class="text-center" style="padding:5px 0px;font-size:10px;color:red;"></p>
                                    <p class="text-center"><i style="display:none;" class="fa fa-spinner fa-pulse fa-fw loading"></i></p>
                                </div>
                                <div class="checkbox">
                                    <p class="text-center" style="padding:8px 0px; font-size:12px;">Didn't receive OTP yet? <span id="resent" style="cursor: pointer; color:#1e88e5;">RESEND OTP</span></p>
                                </div>
                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Login</button>
                                </div>
                            </form>
                        </div>
                        <!-- Name and Gender -->
                        <div id="dob_form">
                          <p class="text-center" style="padding:10px 0px;font-size:14px;">Provide the following information</p>
                            <form id="dob_submit" method="post" action="javascript:;" data-toggle="validator" role="form">
                                <div class="form-group" style="margin:20px 0px;position: relative;">
                                    <input type="text" class="login-form" id="name" name="name" value="<%= @name %>" required="" title="What do we call you" placeholder="Full Name" required=""/>
                                </div>

                               <!--  <div class="form-group" style="margin:20px 0px;position: relative;">
                                    <input type="text" class="login-form" id="dob" name="dob" value="" required="" title="What do we call you" placeholder="Birthday"  /> 
                                </div> -->
                                <div class="form-group has-feedback" style="width: 300px;margin:0px auto;">
                                  <input style="cursor:pointer;" type="text" class="form-control login-form" id="dob" name="dob" value="<%= @dob %>" required="" title="What do we call you" placeholder="Birthday" required=""/>
                                  <i class="form-control-feedback fa fa-calendar" style="padding: 14px 0px;"></i>
                                </div>

                             <div class="form-group" style="margin:20px 0px;position: relative;">
                              <!-- <label style="width: 300px;margin:0px auto;     display: block;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;color: #555555;"> Gender</label> -->
                                <div class="gender-selection text-center">
                                  <input id="male" type="radio" name="gender" value="true" required=""/>
                                  <label class="darker male" for="male"></label>
                                  <input id="female" type="radio" name="gender" value="false" required=""/>
                                  <label class="darker female" for="female"></label>
                              </div>
                            </div>

                                <div class="text-center" style="margin:30px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- name nd gender End-->
                    </div>
                    <!-- col End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Model-->
<script type="text/javascript">
  var mobile = document.querySelector('input[type="tel"]');
mobile.setCustomValidity('Need your mobile number');

mobile.addEventListener('input', function () {
  // Note: if (this.checkValidity()) won't work
  // as setCustomValidity('with a message') will set
  // the field as invalid.
  if (this.value.trim() === '') {
    this.setCustomValidity('Need your mobile number');
  }
  else {
    this.setCustomValidity('');
  }
}, false);

mobile.addEventListener('invalid', function () {
  if (this.value.trim() !== '') {
    this.setCustomValidity("'" + this.value + "' is not a valid mobile number");
  }
}, false);


var otp = document.querySelector('input[name="otp"]');
otp.setCustomValidity('Invalid OTP');

otp.addEventListener('input', function () {
  // Note: if (this.checkValidity()) won't work
  // as setCustomValidity('with a message') will set
  // the field as invalid.
  if (this.value.trim() === '') {
    this.setCustomValidity('Invalid OTP');
  }
  else {
    this.setCustomValidity('');
  }
}, false);

</script>
<script type="text/javascript">
$(document).ready(function() {

  $("#logout").click(function() {
    var x = $("#snackbar")
      x.addClass("show")
        .html("Successfully logout");
      setTimeout(function() {
         x.removeClass("show");
     }, 3000);

       window.localStorage.removeItem('user');
       window.localStorage.removeItem('name');
       window.localStorage.removeItem('activation_status');
       window.localStorage.removeItem('search_query');
       window.localStorage.removeItem('search_query2');
       window.location.reload(true);
   })
  
  var latlong = window.localStorage.getItem("latlng");
       var user = window.localStorage.getItem("user");
       var name = window.localStorage.getItem("name");
       var activation_status = window.localStorage.getItem("activation_status");
   $("#search_query").keyup(function query() {
       var search = $("#search_query").val();
       
       if (user == null) {
           search += ",," + latlong;
       } else {
           search += "," + user + "," + latlong;
       }

       var reqData = {};
       reqData.product = search;
       var $a = $.ajax({
           type: 'POST',
           url: '<%= suggested_list_path() %>',
           data: reqData
       });

       $a.then(function(data, textStatus, jqXHR) {
           var search_suggestions = JSON.parse(jqXHR.responseText).suggestions;
           $("#search_query").autocomplete({
               source: search_suggestions
           });
       }, function(jqXHR, textStatus, errorThrown) {
           alert(JSON.parse(jqXHR.responseText).message);
       });
   });

   $("form#s_form").submit(function(e) {
      gtag_report_conversion();
       var search = $("#search_query").val();
       window.localStorage.setItem("search_query", search);
       e.preventDefault();
       window.location.href = "/products?product="+search;
   });

   if (user != null) {
    var activation_status = window.localStorage.getItem("activation_status");
    var fname = window.localStorage.getItem("name");
        if(activation_status == true || activation_status == 'true')
        {
          $("#user_login").html("<span class='user_name'>Hi "+name+"</span>  <span class='caret'></span>")
           .parent().addClass("dropdown");

        }
        else{
          $("#login-model").modal();
          $("#modal-title").html("Hi, you're all most done.");
          $("button.close").remove();
          $('#login-model').on('hide.bs.modal', function (e) {
            e.preventDefault();
            e.stopPropagation();
            return false;
            });
           $("div#loginForm").hide();
           $("div#dob_form").show();
           $("#name").val(fname);
          $("#dob_submit").submit(function() {
                        
               var name = $("#name").val();
               var user = window.localStorage.getItem("user");
               // console.log(user);
               var gender = $("input[name='gender']:checked").val();
               // console.log(gender);
               var dob = $("#dob").val();
               var query = user + ","+name+","+gender+","+dob;
               var reqData = {};
               reqData.query = query;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= set_profile_path() %>',
                   data: reqData
               });
               $a.then(function(data, textStatus, jqXHR) {
                   var status = JSON.parse(jqXHR.responseText).activation_status;
                   window.localStorage.setItem("activation_status", status);
                   window.localStorage.setItem("name", name);
                  window.location.reload(true);

               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });

           });

        }
        $("#user_login").html("<span class='user_name'>Hi "+name+"</span> <span class='caret'></span>")
           .parent().addClass("dropdown");
          $('#fav_link').click(function(){
              var latlong = window.localStorage.getItem("latlng");
             $('#fav_link').attr('href', $('#fav_link').attr('href') + user +"&latlng="+ latlong);
          });
         
          $('#profile_link').attr('href', $('#profile_link').attr('href') + user + ",consumer");
       
   } else {
       $("#user_login").html("Login / Register");
       $("#user_login").click(function() {
           $("#login-model").modal();
           //mobile num enter
           $("#login_submit").submit(function() {
            $(".loading").show();
               var mobile = $("#mobile").val();
               var reqData = {};
               reqData.mobile = mobile;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= user_login_path() %>',
                   data: reqData
               });

               $a.then(function(data, textStatus, jqXHR) {
                   var $otp_msg = JSON.parse(jqXHR.responseText).message['otp'];
                   $(".loading").hide();
                   $("div#otp_form").show(function(){
                      $(".close").click(function(){
                          window.location.reload(true);
                      });
                      $("#edit_num").click(function() {
                        $("div#otp_form").hide();
                         $("div#loginForm").show();
                         $("#modal-title").html("Login to access your account");
                       });
                      $('#login-model').on('hide.bs.modal', function() {
                            //window.location.reload(true);
                            });

                   });
                   $("div#loginForm").hide();
               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });

               $("#mob-num").html(mobile);
               $("#modal-title").html("Get OTP");
           });
           //resent otp
           $("#resent").click(function() {
            $(".loading").show();
               var mobile = $("#mob-num").html();
               var reqData = {};
               reqData.mobile = mobile;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= user_login_path() %>',
                   data: reqData
               });

               $a.then(function(data, textStatus, jqXHR) {
                   var $otp_msg = JSON.parse(jqXHR.responseText).message['otp'];
                   $(".loading").hide();
               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });
               $("#modal-title").html("Get OTP");
           });
           //otp

           $("#otp_submit").submit(function() {
            $(".loading").show();
               var phn = $("#mob-num").html();
               var otp = $("#otp").val();
               var reqData = {};
               reqData.mobile = phn;
               reqData.otp = otp;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= user_login_path() %>',
                   data: reqData

               });

               $a.then(function(data, textStatus, jqXHR) {
                   var user = JSON.parse(jqXHR.responseText).message['user_id'];
                   var activation_status = JSON.parse(jqXHR.responseText).message['activation_status'];
                   window.localStorage.setItem("activation_status", activation_status);
                   var name = JSON.parse(jqXHR.responseText).message['user_name'];
                   var dob = JSON.parse(jqXHR.responseText).message['dob'];
                   var gender = JSON.parse(jqXHR.responseText).message['gender'];
                   window.localStorage.setItem("user", user);
                   window.localStorage.setItem("name", name);
                   $(".loading").hide();
                    //var fname = window.localStorage.getItem("name");
                        if(activation_status != true )
                        {
                            $("div#dob_form").show();
                            $("div#otp_form").hide();
                            $("button.close").remove();
                            $('#login-model').on('hide.bs.modal', function (e) {
                            e.preventDefault();
                            e.stopPropagation();
                            return false;
                            });
                            $("#modal-title").html("Hi, you're all most done.");
                            if(name == 'null')
                            {
                              $("#name").val('');
                              $("#name").attr("placeholder", "Name");;
                            }
                            else
                            {
                              $("#name").val(name);
                            }
                            
                            $("#dob").val(dob);
                                if(gender == true)
                                 {
                                  $('input#male').prop('checked', true);
                                 }
                                 if(gender == false)
                                 {
                                  $('input#female').prop('checked', true);
                                 }
                        }
                        else
                        {
                          
                          window.localStorage.setItem("name", name);
                          var fname = window.localStorage.getItem("name");
                          $("#user_login").html("<span class='user_name'>Hi "+fname+"</span> <span class='caret'></span>")
                            .parent().addClass("dropdown");
                            window.location.reload(true);
                        }
                   $("#login-model").modal('hide');

               }, function(jqXHR, textStatus, errorThrown) {
                   $("#help-block").html("Invalid OTP");
                   $("#otp").css("border-color", "red");
                   $(".loading").hide();
               });
           });

           //name and dob
           $("#dob_submit").submit(function() {
            $(".loading").show();
               var name = $("#name").val();
               window.localStorage.setItem("name", name);
               var user = window.localStorage.getItem("user");

               var gender = $("input[name='gender']:checked").val();

               var dob = $("#dob").val();
               var query = user + ","+name+","+gender+","+dob;
               var reqData = {};
               reqData.query = query;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= set_profile_path() %>',
                   data: reqData
               });
               $a.then(function(data, textStatus, jqXHR) {
                   var status = JSON.parse(jqXHR.responseText).activation_status;
                   window.localStorage.setItem("activation_status", status);
                   window.localStorage.setItem("name", name);
                   window.location.reload(true);

               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });
               
           });



       });
   }


$('#dob').datepicker();
$.fn.datepicker.defaults.format = "dd/mm/yyyy";

});
</script>
 