<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://s3.ap-south-1.amazonaws.com/mapprr/fav.png" type="image/x-icon">
    <link rel="search" type="application/opensearchdescription+xml" title="Mapprr Search" href="/opensearch.xml" />

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '144806779554047');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=144806779554047&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script>
      fbq('track', 'Lead');
    </script>
    <script async src='//cdn.freshmarketer.com/197376/643312.js'></script>
    <style type="text/css">
      a.pass_loc:visited{color:#263238}
    </style>
    
  </head>

  <body>
    <!-- <div class="loader"></div> -->
    <div class="notification modal-dialog">
      <div class="hidden-sm hidden-md hidden-lg">
          
          <!-- Modal content-->
          <div class="modal-content" style="height: 100vh;">
              <div class="modal-header">
                  <button type="button" class="close_notification close" style="color:#263238;cursor: pointer;font-size: 30px;">&times;</button>
              </div>
              <div class="modal-body" style="width: 100%;height: 100%;margin-top: 20%;">
                  <!--registration Start-->
                  <div class="text-center">
                      <div class="title" style="margin: 5% auto; ">
                          <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "notify_logo img-responsive", :alt => "Location icon") %>
                      </div>
                      <h4 style="">Get the app. Search with a tap.</h4>
                      <div class="text-center"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/google-play-badge.svg", :class => "notification_app", :alt => "Google play" ) %><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/app-store.png", :class => "notification_app", :alt => "App Store" ) %></div>
                  </div>

              </div>
          </div>

      </div>
   </div>

    <%= yield %>


    <!-- footer -->
    <div class="footer">
        <div class="mapprr-container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 footer_content">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                <%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "nav_logo img-responsive", :alt => "Mapprr", :height => "40px") %>
                            </p>
                            <p class="col-md-12 footer_text">Mapprr is a hyperlocal product discovery application to find products, brands and stores in and around a particular location or at a nearby location. </p>

                            <div class="col-md-12 footer_text media_links footer_links">
                              <a href="https://www.linkedin.com/company/mapprr" target="_blank" title="Mapprr linkedin"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                             <a href="https://www.facebook.com/mapprr/" target="_blank" title="Mapprr facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/mapprr/" target="_blank" title="Mapprr instagram"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                              <a href="https://plus.google.com/u/0/b/108876416825518969151/108876416825518969151" target="_blank" title="Mapprr google-plus"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
                              <a href="https://twitter.com/mapprr" target="_blank" title="Mapprr twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 footer_content footer_links">
                     <hr class="hr" style="width:180px;margin:10px auto;border:1px dashed #757575;">
                     <h6 style="font-size:18px;font-weight: bolder;margin-bottom: 25px;margin-top: 15px;"><b>Company</b></h6>
                    <p><a href="/" title="Mapprr">Home</a></p>
                    <p><a target="_blank" title="Mapprr Blog" class="pass_loc" href="/team"><h6>Team</h6></a></p>
                    <p><a target="_blank" title="Mapprr Blog" class="pass_loc" href="/careers"><h6>Careers</h6></a></p>
                    <p><a target="_blank" title="Mapprr Blog" class="pass_loc" href="http://blog.mapprr.com">Blogs</a></p>
                    <p><a target="_blank" title="Terms & Conditions" class="pass_loc" href="/terms-and-conditions"><h6>Terms & Conditions</h6></a></p>
                    <p><a target="_blank" title="Privacy Policy" class="pass_loc" href="/privacy-policy"><h6>Privacy Policy</h6></a></p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 footer_content footer_links">
                    <!-- <hr class="hr" style="width:180px;margin:10px auto;border:1px dashed #757575;"> -->
                    <hr class="hr" style="width:180px;margin:10px auto;border:1px dashed #757575;">
                     <p style="font-size:18px;font-weight: bolder;margin-bottom: 25px;margin-top: 15px;"><b>Contact</b></p>
                    <p><i class="fa fa-phone" aria-hidden="true" style="font-size: 15px;margin-right: 7px;"></i> 040 48540124</p>
                    <p><i class="fa fa-envelope" aria-hidden="true" style="font-size: 15px;margin-right: 7px;"></i> support@mapprr.com</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="row footer_content">
                        <!-- <div class="footer_contentSub">Download app</div> -->
                         <h3 style="font-size:18px;font-weight: bolder;margin-bottom: 25px;margin-top: 15px;"><b>Download app</b></h3>
                        <div class=""><a target="_blank" href="https://play.google.com/store/apps/details?id=com.bts.consumer"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/google-play.png", :class => "img-responsive", :alt => "Google play" ) %></a> <a target="_blank" href="https://itunes.apple.com/us/app/mapprr/id1321881080?ls=1&mt=8"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/app-store.png", :class => "img-responsive", :alt => "App store" ) %></a> </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;color:#263238;">
                <h6 class="text-center">2018 &copy; mapprr.com</h6>
            </div>


        </div>
    </div>
    <div id="location_error"></div>
    <!-- End footer-->
<script type="text/javascript">
  //login and search suggestions
$(document).ready(function() {

  $("#logout").click(function() {
    var x = $("#snackbar")
      x.addClass("show")
        .html("Successfully logout");
      setTimeout(function() {
         x.removeClass("show");
     }, 3000);

       window.localStorage.removeItem('user');
       window.localStorage.removeItem('name');
       window.localStorage.removeItem('activation_status');
       window.localStorage.removeItem('search_query');
       window.localStorage.removeItem('search_query2');
       window.location.reload(true);
   })
  
  var latlong = window.sessionStorage.getItem("latlng");
       var user = window.localStorage.getItem("user");
       var name = window.localStorage.getItem("name");
       var activation_status = window.localStorage.getItem("activation_status");

var plocation = window.sessionStorage.getItem("slocation");
    if (plocation == null)
    {   
        detectLocation();
    }
    else
    {
        $("#geolocation").html(plocation);

    }
      $("#detect_loc").click(function(){
            detectLocation();
        $("#m_loc").val(plocation);
      });
       


   $("#search_query").keyup(function query() {
       var search = $("#search_query").val();
       
       if (user == null) {
           search += ",," + latlong;
       } else {
           search += "," + user + "," + latlong;
       }

       var reqData = {};
       reqData.product = search;
       var $a = $.ajax({
           type: 'POST',
           url: '<%= suggested_list_path() %>',
           data: reqData
       });

       $a.then(function(data, textStatus, jqXHR) {
           var search_suggestions = JSON.parse(jqXHR.responseText).suggestions;
           $("#search_query").autocomplete({
               source: search_suggestions
           });
       }, function(jqXHR, textStatus, errorThrown) {
           alert(JSON.parse(jqXHR.responseText).message);
       });
   });

   $("form#p_form").submit(function(e) {
      gtag_report_conversion();
       var search = $("#search_query").val();
       window.localStorage.setItem("search_query", search);
       e.preventDefault();
       window.location.href = "/products?product="+search;
   });


   if (user != null) {
    var activation_status = window.localStorage.getItem("activation_status");
    var fname = window.localStorage.getItem("name");

        if(activation_status == true || activation_status == 'true')
        {
          $("#user_login").html("<span class='user_name'>Hi "+fname+"</span>  <span class='caret'></span>")
           .parent().addClass("dropdown");

        }
        else{
           $("#user_login").html("<a style='color:#263238;' href='/login'> Login / Register</a>");

        }
        $("#user_login").html("<span class='user_name'>Hi "+name+"</span> <span class='caret'></span>")
           .parent().addClass("dropdown");
          $('#fav_link').click(function(){
              var latlong = window.sessionStorage.getItem("latlng");
             $('#fav_link').attr('href', $('#fav_link').attr('href') + user +"&latlng="+ latlong);
          });
         
          $('#profile_link').attr('href', $('#profile_link').attr('href') + user + ",consumer");
       
   } else {
       $("#user_login").html("<a style='color:#263238;' href='/login'> Login / Register</a>");
   }
});
</script>

    <script async defer type="text/javascript">
        
    if (navigator.onLine) {
      // document.body.innerHTML = 'online';
      document.onload;
    } else {
      document.body.innerHTML ='<div class="container error_network"><div class="col-md-12 text-center empty-state"><%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_state3.png", :class => "card-img-top", :height => "52%", :alt => "Network Error") %><h3 class="text-center">Whoops...!</h3><h5 class="empty_state">Slow or no internet connection found.</h5></div></div>';
      // document.getElementByClassName(error_network).style.display = 'block';
    }
      window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

     gtag('event', 'conversion', {'send_to': 'AW-825019797/X9hdCPW_lXoQlZuziQM'});
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5a4c7f984b401e45400bd974/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

  </body>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-110387152-2"></script>
  <script async defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110387152-2');
  </script>

  <script async defer type="text/javascript">

    function gtag_report_conversion(url) {
     var callback = function () {
       if (typeof(url) != 'undefined') {
         window.location = url;
       }
     };
     gtag('event', 'conversion', {
         'send_to': 'AW-825019797/X9hdCPW_lXoQlZuziQM',
         'event_callback': callback
     });
     return false;
    }
  </script>
  
  <script>
    $(document).ready(function(){
  
      var notification = window.sessionStorage.getItem("notification");
      if(notification == "notify")
        {
          $(".notification.modal-dialog").hide();
        }
        else
        {
          $(".notification.modal-dialog").show();
          var notification = "notify";
          window.sessionStorage.setItem("notification", notification);
        }
        // $(window).unload(function(){
        //   localStorage.clear();
        // });
        // window.onbeforeunload = function() {
        // window.sessionStorage.removeItem(notification);
        // return '';
        // };


      //$(".notification.modal-dialog").show();
        $(".close_notification.close ").click(function(){
            $(".notification.modal-dialog").hide();
        });
        $(".notification .modal-body").click(function(){
             //window.location = "https://play.google.com/store/apps/details?id=com.bts.consumer";
             var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
             if(iOS){
                var win = window.open("https://itunes.apple.com/app/apple-store/id1321881080?pt=118904121&ct=Campaign&mt=8", '_blank')
                win.focus();
              }   
             else{
                var win2 = window.open("https://play.google.com/store/apps/details?id=com.bts.consumer", "_blank");
                win2.focus();
                }
              $(".notification.modal-dialog").hide();        
        });

        var my_posts = $("[rel=tooltip]");

        var size = $(window).width();
        for(i=0;i<my_posts.length;i++){
            the_post = $(my_posts[i]);

            if(the_post.hasClass('invert') && size >=767 ){
                the_post.tooltip({ placement: 'left'});
                the_post.css("cursor","pointer");
            }else{
                the_post.tooltip({ placement: 'rigth'});
                the_post.css("cursor","pointer");
            }
          }
      });

  </script>
  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Kavuri Hills, Madhapur",
    "addressRegion": "Hyderabad, Telangana",
    "streetAddress": "501, Ivy Terrace"
  },
  "description": "Mapprr is a hyperlocal product discovery application to find products, brands and stores in and around a particular location or at a nearby location.",
  "name": "Mapprr",
  "telephone": "040 4854 0124",
  "url": "https://mapprr.com",
  "logo": "https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg",
  "sameAs": [
    "https://www.facebook.com/mapprr/",
    "https://www.instagram.com/mapprr/",
    "https://www.linkedin.com/company/mapprr/",
    "https://plus.google.com/u/0/108876416825518969151",
    "https://twitter.com/mapprr"
  ]
}
</script>
</html>
